.rs-documents__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
@media (max-width: 1169.98px) {
  .rs-documents__list {
    margin: -7.5px;
  }
}
.rs-documents__item {
  padding: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
}
@media (max-width: 1169.98px) {
  .rs-documents__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 7.5px;
  }
}
@media (max-width: 767.98px) {
  .rs-documents__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.rs-documents__link {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 6px -1px rgba(11, 15, 25, 0.03), 0 4px 10px -1px rgba(11, 15, 25, 0.06);
          box-shadow: 0 2px 6px -1px rgba(11, 15, 25, 0.03), 0 4px 10px -1px rgba(11, 15, 25, 0.06);
  background: #fff;
}
@media (max-width: 1439.98px) {
  .rs-documents__link {
    padding: 20px;
  }
}
.rs-documents__format {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--primary-color);
  background: #f3f6ff;
  border-radius: 10px;
}
@media (max-width: 1439.98px) {
  .rs-documents__format {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    height: 50px;
    font-size: 14px;
  }
}
.rs-documents__desc p {
  margin-top: 8px;
  color: #383b56;
}