.rs-error-block {
  padding: 80px 0px;
  margin: 0;
}
@media (max-width: 991.98px) {
  .rs-error-block {
    padding: 50px 0px;
  }
}
@media (min-width: 1439.98px) {
  .rs-error-block.rs-error-block-1 {
    padding-top: 53px;
  }
  .rs-error-block.rs-error-block-2 {
    padding-top: 10px;
  }
}
.rs-error-block__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.rs-error-block__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-error-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.rs-error-block__description {
  margin-top: 40px;
  max-width: 745px;
  width: 100%;
}
@media (max-width: 1439.98px) {
  .rs-error-block__description {
    margin-top: 20px;
  }
}
@media (min-width: 1439.98px) {
  .rs-error-block-1 .rs-error-block__description {
    margin-top: 29px;
  }
  .rs-error-block-2 .rs-error-block__description {
    margin-top: 28px;
  }
}
.rs-error-block__description p,
.rs-error-block__description h6 {
  margin-top: 8px;
}
.rs-error-block__description .rs-btn {
  margin-top: 25px;
}
@media (max-width: 1439.98px) {
  .rs-error-block__description .rs-btn {
    margin-top: 15px;
  }
}
.rs-error-block__field {
  margin-top: 38px;
  max-width: 882px;
  width: 100%;
  position: relative;
}
.rs-error-block__field > img {
  position: absolute;
  bottom: calc(100% - 4px);
  right: -7.5px;
}
@media (max-width: 991.98px) {
  .rs-error-block__field > img {
    display: none;
  }
}
.rs-error-block__field .rs-input {
  background-color: #f3f6ff;
}
.rs-error-block__field .form__button {
  margin-left: 0px;
}
@media (max-width: 1439.98px) {
  .rs-error-block__field {
    margin-top: 15px;
  }
}