.rs-news {
  overflow: hidden;
}
.rs-news__slider {
  margin: -15px;
  padding: 15px;
}
@media (max-width: 991.98px) {
  .rs-news__slider {
    overflow: visible;
  }
}
.rs-news__slide {
  height: auto;
  min-height: 1px;
}

.rs-news__item {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
@media (any-hover: hover) {
  .rs-news__item:hover .rs-news__img img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.rs-news__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rs-news__img {
  width: 100%;
  height: 284px;
  max-height: 284px;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .rs-news__img {
    height: 218px;
    max-height: 218px;
  }
}
.rs-news__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 1s ease 0s;
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s, -webkit-transform 1s ease 0s;
}
.rs-news__desc {
  margin-top: -27px;
  position: relative;
  z-index: 10;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 15px;
  padding: 25px 20px;
  background-color: #f3f6ff;
}
@media (max-width: 1439.98px) {
  .rs-news__desc {
    padding: 16px;
  }
}
._blue-block .rs-news__desc {
  background-color: #fff;
}
.rs-news__desc h3,
.rs-news__desc h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--text-color);
}
@media (max-width: 1439.98px) {
  .rs-news__desc h3,
  .rs-news__desc h4 {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .rs-news__desc h3,
  .rs-news__desc h4 {
    font-size: 16px;
  }
}
.rs-news__date {
  display: inline-block;
  border-radius: 41px;
  margin-bottom: 30px;
  padding: 5px 12px;
  font-weight: 600;
  font-size: 13px;
  background: var(--primary-color);
  line-height: 140%;
  text-align: center;
  color: #fff;
}
@media (max-width: 767.98px) {
  .rs-news__date {
    margin-bottom: 16px;
  }
}