.rs-news {
  overflow: hidden;
}
.rs-news__slider {
  margin: -15px;
  padding: 15px;
}
@media (max-width: 991.98px) {
  .rs-news__slider {
    overflow: visible;
  }
}
.rs-news__item {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 6px -1px rgba(11, 15, 25, 0.03), 0 4px 10px -1px rgba(11, 15, 25, 0.06);
          box-shadow: 0 2px 6px -1px rgba(11, 15, 25, 0.03), 0 4px 10px -1px rgba(11, 15, 25, 0.06);
}
.rs-news__link {
  width: 100%;
  height: 100%;
  display: block;
}
.rs-news__img {
  width: 100%;
  height: 284px;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .rs-news__img {
    height: 218px;
  }
}
.rs-news__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rs-news__desc {
  margin-top: -27px;
  position: relative;
  z-index: 10;
  border-radius: 15px;
  padding: 25px 20px;
  background-color: #fff;
}
@media (max-width: 1439.98px) {
  .rs-news__desc {
    padding: 16px;
  }
}
.rs-news__desc h4 {
  color: var(--text-color);
}
.rs-news__date {
  display: inline-block;
  border-radius: 41px;
  margin-bottom: 30px;
  padding: 5px 12px;
  font-weight: 600;
  font-size: 13px;
  background: var(--primary-color);
  line-height: 140%;
  text-align: center;
  color: #fff;
}