.rs-quote {
  margin: 0;
  padding: 110px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 30px;
}
@supports (-webkit-overflow-scrolling: touch) {
  .rs-quote {
    background-attachment: scroll;
  }
}
@media (max-width: 1439.98px) {
  .rs-quote {
    padding: 80px 0px;
  }
}
@media (max-width: 991.98px) {
  .rs-quote {
    padding: 50px 0px;
    border-radius: 15px;
  }
}
.rs-quote__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.rs-quote__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
@media (max-width: 991.98px) {
  .rs-quote__bg img {
    border-radius: 15px;
  }
}
.rs-quote__container {
  height: 100%;
}
.rs-quote__content {
  height: 100%;
  max-width: 616px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  color: #fff;
}
.rs-quote__content p {
  margin-top: 10px;
}
.rs-quote__content h6 {
  margin-top: 20px;
}
.rs-quote__content .rs-btn {
  margin-top: 20px;
}