.rs-reviews {
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .rs-reviews__container .section-footer {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .rs-reviews__container .section-header__title p {
    display: none;
  }
}
.rs-reviews__slider {
  overflow: visible;
}
.rs-reviews__slide {
  min-height: 1px;
  height: auto;
}