.rs-services {
  margin-top: 0px;
}
@media (min-width: 991.98px) {
  .rs-services__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.rs-services__sidebar {
  width: 100%;
  max-width: 300px;
  margin-right: 30px;
}
@media (max-width: 1439.98px) {
  .rs-services__sidebar {
    max-width: 200px;
    margin-right: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-services__sidebar {
    max-width: 100%;
    margin-right: 0px;
  }
}
.rs-services__spollers {
  border: 1px solid #e2e5f1;
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .rs-services__spollers {
    border-radius: 15px;
  }
}
.rs-services__spollers_item {
  padding: 7px 6px;
}
.rs-services__spollers_item:not(:last-child) {
  border-bottom: 1px solid #d6dbe0;
}
.rs-services__spollers_title {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: var(--font-color);
}
@media (any-hover: hover) {
  .rs-services__spollers_title:hover {
    background-color: #f2f4f9;
    color: var(--primary-color);
  }
}
.rs-services__spollers_title::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../../img/icons/caret-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.rs-services__spollers_title._spoller-active {
  background-color: #f2f4f9;
  color: var(--primary-color);
}
.rs-services__spollers_title._spoller-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 991.98px) {
  .rs-services__spollers_title {
    font-size: 14px;
    padding: 6px 12px;
  }
}
@media (max-width: 767.98px) {
  .rs-services__spollers_title {
    font-size: 13px;
    padding: 9px 12px;
  }
}
.rs-services__spollers_body {
  padding: 10px 12px 12px;
}
.rs-services__spollers_body ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #383b56;
}
@media (max-width: 767.98px) {
  .rs-services__spollers_body ul li {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .rs-services__spollers_body ul li {
    font-size: 13px;
  }
}
.rs-services__spollers_body ul li:not(:last-child) {
  margin-bottom: 10px;
}
.rs-services__spollers_body ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rs-services__sub-spollers_title {
  border: 1px solid #e2e5f1;
  border-radius: 15px;
  padding: 16px 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #0b0f19;
  cursor: pointer;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rs-services__sub-spollers_title::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../../img/icons/caret-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.rs-services__sub-spollers_title._spoller-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (max-width: 767.98px) {
  .rs-services__sub-spollers_title {
    font-size: 13px;
  }
}
@media (min-width: 991.98px) {
  .rs-services__sub-spollers_title {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .rs-services__content {
    margin-top: 24px;
  }
}
@media (max-width: 767.98px) {
  .rs-services__content {
    margin-top: 16px;
  }
}
.rs-services__body > *:first-child {
  margin-top: 0px !important;
}
.rs-services__body > *:last-child {
  margin-bottom: 0px !important;
}
.rs-services__body h2 {
  margin-bottom: 20px;
}
.rs-services__body p {
  margin: 10px 0px;
}
.rs-services .tabs {
  margin-top: 20px;
}
.rs-services .tabs__navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e2e5f1;
  border-radius: 5px;
  padding: 5px;
}
@media (max-width: 991.98px) {
  .rs-services .tabs__navigation {
    display: none;
  }
}
.rs-services .tabs__title {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: left;
}
@media (min-width: 991.98px) {
  .rs-services .tabs__title {
    padding: 6px 20px;
    border-radius: 5px;
    background: rgba(99, 102, 241, 0);
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #383b56;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-services .tabs__title {
    font-size: 14px;
    padding: 5px 15px;
  }
}
@media (min-width: 991.98px) {
  .rs-services .tabs__title._tab-active {
    background: rgba(99, 102, 241, 0.2);
    color: var(--primary-color);
  }
}
@media (max-width: 991.98px) {
  .rs-services .tabs__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--font-color);
    border-radius: 8px;
    margin-top: 16px;
    border-radius: 10px;
    padding: 16px 24px;
    background: #f3f6ff;
    border: 1px solid #e2e5f1;
  }
  .rs-services .tabs__title._tab-active {
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
  }
  .rs-services .tabs__title._tab-active .tabs__icon {
    background-color: var(--primary-color);
  }
  .rs-services .tabs__title._tab-active .tabs__icon svg {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .rs-services .tabs__title._tab-active .tabs__icon svg path {
    fill: #fff;
  }
}
@media (max-width: 767.98px) {
  .rs-services .tabs__title {
    font-size: 14px;
    padding: 16px;
  }
}
.rs-services .tabs__icon {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}
@media (min-width: 991.98px) {
  .rs-services .tabs__icon {
    display: none;
  }
}
.rs-services .tabs__icon svg {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
.rs-services .tabs__icon svg path {
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
  fill: #9397ad;
}
@media (min-width: 991.98px) {
  .rs-services .tabs__content {
    margin-top: 15px;
  }
}
@media (max-width: 991.98px) {
  .rs-services .tabs__body {
    padding: 24px;
    border: 1px solid #e2e5f1;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
  }
}
@media (max-width: 767.98px) {
  .rs-services .tabs__body {
    padding: 16px;
  }
}
.rs-services .tabs__body > *:first-child {
  margin-top: 0px !important;
}
.rs-services .tabs__body > *:last-child {
  margin-bottom: 0px !important;
}