@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600&display=swap);
:root {
  --bg-color: #fff;
  --font-color: #0b0f19;
  --text-color: #383b56;
  --title-color: #0b0f19;
  --primary-color: #6366f1;
  --primary-opacity-color: rgba(99, 102, 241, 0.2);
  --primary-hover: #4f51c0;
  --gray-color: #e2e5f1;
  --gray-opacity-color: rgba(255, 255, 255, 0.2);
  --light-color: #f2f4f9;
  --light-color-opacity: rgba(226, 229, 241, 0.2);
  --icons-color-dark: #0b0f19;
  --icons-color-light: #fff;
  --icons-opacity-color: rgba(11, 15, 25, 0.2);
  --icons-menu-color: #cccdf1;
  --icons-button-white: #fff;
  --icons-button-opacity-white: rgba(255, 255, 255, 0.2);
  --icon-vk: #4c75a3;
  --icon-tg: #0088cc;
  --icon-wt: #25d366;
  --icon-inst: #833ab4;
  --icon-ok: #f97400;
  --icon-yt: #ff0000;
  --box-shadow: 9px 11px 29px 0px rgba(125, 138, 152, 0.15);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  background: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--primary-color) var(--bg-color);
    scrollbar-width: thin;
  }
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: var(--font-color);
  line-height: 1;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  background: var(--bg-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Manrope", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1602px;
  padding-left: 36px;
  padding-right: 36px;
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 768px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

section {
  margin: 80px 0px;
  position: relative;
}

.section-header {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-header__title {
  max-width: 745px;
}
.section-header__title p {
  margin-top: 10px;
}

.section-footer {
  margin-top: 16px;
}
@media (min-width: 991.98px) {
  .section-footer {
    display: none;
  }
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 44px */
}

h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.rs-btn {
  position: relative;
  overflow: hidden;
  -webkit-appearance: button;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  padding: 12px 24px;
  border-radius: 50px;
}
@media (max-width: 1569.98px) {
  .rs-btn {
    font-size: 13px;
    padding: 12px 20px;
  }
}
.rs-btn._btn-primary {
  color: #fff;
  background-color: var(--primary-color);
}
@media (any-hover: hover) {
  .rs-btn._btn-primary:hover {
    background-color: var(--primary-hover);
  }
}
.rs-btn._btn-white {
  color: var(--font-color);
  background-color: #fff;
}
@media (any-hover: hover) {
  .rs-btn._btn-white:hover {
    color: #fff;
    background-color: var(--primary-hover);
  }
}
.rs-btn._btn-primary-img {
  padding-left: 14px;
}
.rs-btn._btn-border-black {
  border: 1px solid var(--text-color);
  background-color: transparent;
  color: var(--font-color);
  padding: 11px 23px;
}
@media (any-hover: hover) {
  .rs-btn._btn-border-black:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
.rs-btn._btn-border-white {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 11px 23px;
}
@media (any-hover: hover) {
  .rs-btn._btn-border-white:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
.rs-btn svg,
.rs-btn img {
  margin-right: 7px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

.rs-input {
  outline: none;
  width: 100%;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  border-radius: 50px;
  border: 1px solid #ddd;
  padding: 16px 24px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 250;
  line-height: 18px; /* 128.571% */
}
.rs-input::-webkit-input-placeholder {
  color: #7a7a7a;
}
.rs-input::-moz-placeholder {
  color: #7a7a7a;
}
.rs-input:-ms-input-placeholder {
  color: #7a7a7a;
}
.rs-input::-ms-input-placeholder {
  color: #7a7a7a;
}
.rs-input::placeholder {
  color: #7a7a7a;
}
textarea.rs-input {
  resize: vertical;
  min-height: 110px;
  border-radius: 20px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-prev:active, .swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev::-moz-focus-inner,
.swiper-button-next::-moz-focus-inner {
  border: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.swiper-pagination-bullet:active, .swiper-pagination-bullet:focus {
  outline: none !important;
}
.swiper-pagination-bullet::-moz-focus-inner {
  border: 0 !important;
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-lock {
  display: none !important;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
}
.swiper-action .swiper-pagination {
  margin-right: 8px;
}
.swiper-action .swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-action .swiper-navigation .swiper-button-prev:not(:last-child),
.swiper-action .swiper-navigation .swiper-button-next:not(:last-child) {
  margin-right: 5px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
  left: 0;
  width: auto;
}

.swiper-pagination {
  position: relative;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--primary-opacity-color);
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--primary-color);
}
.swiper-pagination-bullet-active::after {
  background-color: var(--primary-color);
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  top: 0%;
  width: 46px;
  height: 46px;
  margin-top: 0px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: var(--light-color);
}
._white-block .swiper-button-next,
._white-block .swiper-button-prev {
  background-color: var(--light-color-opacity);
}
._blue-block .swiper-button-next,
._blue-block .swiper-button-prev {
  background-color: #fff;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: 24px;
  height: 24px;
}
.swiper-button-next svg path,
.swiper-button-prev svg path {
  stroke: var(--primary-color);
  -webkit-transition: stroke 0.3s ease 0s;
  transition: stroke 0.3s ease 0s;
}
._white-block .swiper-button-next svg path,
._white-block .swiper-button-prev svg path {
  stroke: #fff;
}
@media (any-hover: hover) {
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: var(--primary-color);
  }
  .swiper-button-next:hover svg path,
  .swiper-button-prev:hover svg path {
    stroke: #fff;
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0px;
  right: 0px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0px;
  left: 0px;
}