@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600&display=swap);
:root {
  --bg-color: #fff;
  --font-color: #0b0f19;
  --text-color: #383b56;
  --title-color: #0b0f19;
  --primary-color: #6366f1;
  --primary-opacity-color: rgba(99, 102, 241, 0.2);
  --primary-hover: #4f51c0;
  --gray-color: #e2e5f1;
  --gray-opacity-color: rgba(255, 255, 255, 0.2);
  --light-color: #f2f4f9;
  --light-color-opacity: rgba(226, 229, 241, 0.2);
  --icons-color-dark: #0b0f19;
  --icons-color-light: #fff;
  --icons-opacity-color: rgba(11, 15, 25, 0.2);
  --icons-menu-color: #cccdf1;
  --icons-button-white: #fff;
  --icons-button-opacity-white: rgba(255, 255, 255, 0.2);
  --icon-vk: #4c75a3;
  --icon-tg: #0088cc;
  --icon-wt: #25d366;
  --icon-inst: #833ab4;
  --icon-ok: #f97400;
  --icon-yt: #ff0000;
  --box-shadow: 9px 11px 29px 0px rgba(125, 138, 152, 0.15);
  --page-border-radius: 50px;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Non-Standard, But More Styling-Capable Properties */
  /* Standardized Properties */
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 5px;
  background: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--primary-color) var(--bg-color);
    scrollbar-width: thin;
  }
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: var(--font-color);
  line-height: 1;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  background: var(--bg-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Manrope", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

@media (min-width: 991.98px) {
  .lock body {
    padding-right: 6px;
  }
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1602px;
  padding-left: 36px;
  padding-right: 36px;
}
[class*=__container] [class*=__container] {
  max-width: 100%;
  padding: 0;
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 768px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}