.rs-steps {
  overflow: hidden;
}
.rs-steps__slider {
  overflow: visible;
}
@media (min-width: 991.98px) {
  .rs-steps__swiper {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -24px -30px;
    padding-right: 72px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-steps__swiper {
    margin: -20px -15px;
    padding-right: 50px;
  }
}
.rs-steps__slide {
  min-height: 1px;
  height: auto;
}
@media (min-width: 991.98px) {
  .rs-steps__slide {
    padding: 24px 30px;
    min-height: 255px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-steps__slide {
    padding: 20px 15px;
  }
}
@media (min-width: 991.98px) {
  .rs-steps__slide:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .rs-steps__slide:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .rs-steps__slide:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .rs-steps__slide:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .rs-steps__slide:nth-child(4) .rs-steps__item::after {
    background-image: url("../img/blocks/steps/steps_arrow-2.svg");
    width: 71px;
    height: 315px;
    top: 50%;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-steps__slide:nth-child(4) .rs-steps__item::after {
    height: 300px;
    width: 50px;
  }
}
@media (min-width: 991.98px) {
  .rs-steps__slide:nth-child(5) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .rs-steps__slide:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .rs-steps__slide:nth-child(7) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .rs-steps__slide:nth-child(1), .rs-steps__slide:nth-child(2), .rs-steps__slide:nth-child(3), .rs-steps__slide:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}
@media (min-width: 991.98px) and (min-width: 1439.98px) {
  .rs-steps__slide:nth-child(1) .rs-steps__item, .rs-steps__slide:nth-child(2) .rs-steps__item, .rs-steps__slide:nth-child(3) .rs-steps__item, .rs-steps__slide:nth-child(4) .rs-steps__item {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
@media (min-width: 991.98px) {
  .rs-steps__slide:nth-child(5), .rs-steps__slide:nth-child(6), .rs-steps__slide:nth-child(7) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
  }
}
@media (min-width: 991.98px) and (min-width: 1439.98px) {
  .rs-steps__slide:nth-child(5) .rs-steps__item, .rs-steps__slide:nth-child(6) .rs-steps__item, .rs-steps__slide:nth-child(7) .rs-steps__item {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 991.98px) {
  .rs-steps__slide:nth-child(5) .rs-steps__item::after, .rs-steps__slide:nth-child(6) .rs-steps__item::after, .rs-steps__slide:nth-child(7) .rs-steps__item::after {
    background-image: url("../img/blocks/steps/steps_arrow-3.svg");
    left: auto;
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
  .rs-steps__slide:nth-child(7) .rs-steps__item::after {
    display: none;
  }
}
.rs-steps__item {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 30px;
  background: #f3f6ff;
  border-radius: 10px;
}
@media (max-width: 1439.98px) {
  .rs-steps__item {
    padding: 20px;
  }
}
@media (min-width: 991.98px) {
  .rs-steps__item::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 100%;
    background-image: url("../img/blocks/steps/steps_arrow-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    width: 60px;
    height: 20px;
  }
}
@media (min-width: 991.98px) and (max-width: 1439.98px) {
  .rs-steps__item::after {
    width: 30px;
    height: 10px;
  }
}
.rs-steps__num {
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  width: 41px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}
@media (max-width: 1439.98px) {
  .rs-steps__num {
    width: 35px;
    height: 35px;
    font-size: 14px;
  }
}
.rs-steps__desc p {
  margin-top: 8px;
}