@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600&display=swap);
:root {
  --bg-color: #fff;
  --font-color: #0b0f19;
  --primary-color: #6366f1;
  --primary-opacity-color: rgba($color: #6366f1, $alpha: 0.2);
  --gray-color: #e2e5f1;
  --gray-opacity-color: rgba($color: #e2e5f1, $alpha: 0.2);
  --text-color: #383b56;
  --title-color: #0b0f19;
  --icons-color: #0b0f19;
  --icons-opacity-color: rgba($color: #0b0f19, $alpha: 0.2);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-color: var(--primary-color) var(--bg-color);
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  background: transparent;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 3px;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--primary-color) var(--primary-color);
  scrollbar-width: thin;
}
*::before::-webkit-scrollbar, *::after::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  background: var(--bg-color);
  border-radius: 3px;
}
*::before::-webkit-scrollbar-thumb, *::after::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: transparent;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 0px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: var(--font-color);
  line-height: 1;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  background: var(--bg-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Manrope", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1550px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 768px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: 100%;
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

section {
  position: relative;
}

.rs-btn {
  position: relative;
  overflow: hidden;
  -webkit-appearance: button;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 25.6px */
  padding: 12px 24px;
  border-radius: 6px;
}
@media (max-width: 1569.98px) {
  .rs-btn {
    font-size: 13px;
  }
}
.rs-btn._btn-primary {
  color: #fff;
  background-color: var(--primary-color);
}
@media (any-hover: hover) {
  .rs-btn._btn-primary:hover {
    background-color: #4f51c0;
  }
}
.rs-btn._btn-primary-img {
  padding: 12px 24px 12px 14px;
}
.rs-btn._btn-border-black {
  border: 1px solid var(--text-color);
  background-color: transparent;
  color: var(--font-color);
  padding: 11px 23px;
}
@media (any-hover: hover) {
  .rs-btn._btn-border-black:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}
.rs-btn img {
  margin-right: 7px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 991.98px) {
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px -7.5px;
  }
  .form__row .form__line {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.3333%;
            flex: 1 1 33.3333%;
    padding: 0px 7.5px;
  }
}
.form__line {
  width: 100%;
  position: relative;
  margin-bottom: 18px;
}
.form__error {
  margin-top: 5px;
  margin-left: 15px;
  color: #ff0000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}
.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .form__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.form__agreement {
  font-size: 14px;
  font-style: normal;
  font-weight: 250;
  line-height: 130%; /* 18.2px */
  margin-right: 31px;
  max-width: 420px;
}
@media (max-width: 1439.98px) {
  .form__agreement {
    margin-right: 16px;
  }
}
@media (max-width: 767.98px) {
  .form__agreement {
    margin-right: 0px;
    max-width: 100%;
    margin-bottom: 24px;
  }
}
.form__agreement a {
  text-decoration: underline;
  text-underline-offset: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media (any-hover: hover) {
  .form__agreement a:hover {
    text-decoration: none;
  }
}
.form__button {
  min-width: 173px;
  max-width: 173px;
}
@media (max-width: 767.98px) {
  .form__button {
    min-width: 100%;
    max-width: 100%;
  }
}
.form__button .rs-btn {
  width: 100%;
}

.rs-input {
  outline: none;
  width: 100%;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  border-radius: 50px;
  border: 1px solid #ddd;
  padding: 16px 24px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 250;
  line-height: 18px; /* 128.571% */
}
.rs-input::-webkit-input-placeholder {
  color: #7a7a7a;
}
.rs-input::-moz-placeholder {
  color: #7a7a7a;
}
.rs-input:-ms-input-placeholder {
  color: #7a7a7a;
}
.rs-input::-ms-input-placeholder {
  color: #7a7a7a;
}
.rs-input::placeholder {
  color: #7a7a7a;
}
textarea.rs-input {
  resize: vertical;
  min-height: 110px;
  border-radius: 20px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-prev:active, .swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev::-moz-focus-inner,
.swiper-button-next::-moz-focus-inner {
  border: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.swiper-pagination-bullet:active, .swiper-pagination-bullet:focus {
  outline: none !important;
}
.swiper-pagination-bullet::-moz-focus-inner {
  border: 0 !important;
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-lock {
  display: none !important;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px;
  left: 0;
  width: 100%;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7.5px;
}

.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 800px;
  background-color: #b4b7c9;
  opacity: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 24px;
  background-color: var(--primary-color);
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}