.rs-footer {
	border-top: 1px solid #e2e5f1;

	&.rs-footer-catalog {
		@media (max-width: 991.98px) {
			padding-bottom: 83px;
		}

		@media (max-width: 767.98px) {
			padding-bottom: 56px;
		}
	}

	// .rs-footer__container
	&__container {
	}

	// .rs-footer__wrapper
	&__wrapper {
		padding: 68px 0px 68px;

		@media (max-width: 1569.98px) {
			padding: 45px 0px 45px;
		}

		@media (max-width: 1169.98px) {
			padding: 30px 0px 20px;
		}

		@media (max-width: 991.98px) {
			padding: 0;
		}
	}

	// .rs-footer__spollers
	&__spollers {
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;

		@media (max-width: 991.98px) {
			background-color: #fff;
			border-radius: 0 0 15px 15px;
			overflow: hidden;
			flex-direction: column;
			justify-content: flex-start;
			margin-right: -36px;
			margin-left: -36px;
		}

		@media (max-width: 767.98px) {
			margin-left: -16px;
			margin-right: -16px;
		}

		&._spoller-init {
			.rs-footer__spollers_title {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&::after {
					content: "";
					display: block;
					width: 11px;
					height: 11px;
					background-image: url("../img/icons/caret-arrow-right.svg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					transition: all 0.3s ease 0s;
				}

				&._spoller-active {
					&::after {
						transform: rotate(-90deg);
					}
				}
			}
		}

		// .rs-footer__spollers_item
		&_item {
			width: 100%;

			@media (max-width: 991.98px) {
				padding: 19.5px 36px;

				&:not(:last-child) {
					border-bottom: 1px solid #d4d7e5;
				}
			}

			@media (max-width: 767.98px) {
				padding: 19px 16px;
			}

			@media (min-width: 991.98px) {
				max-width: 297px;

				@media (max-width: 1569.98px) {
					max-width: 250px;
				}

				@media (max-width: 1169.98px) {
					max-width: 200px;
				}

				@media (max-width: 767.98px) {
					max-width: 100%;
				}

				&:not(:last-child) {
					margin-right: 60px;

					@media (max-width: 1569.98px) {
						margin-right: 40px;
					}

					@media (max-width: 1169.98px) {
						margin-right: 20px;
					}

					@media (max-width: 767.98px) {
						margin-right: 0px;
						margin-bottom: 15px;
					}
				}

				&:first-child {
					margin: 0px auto 0px 0px;
					padding-right: 20px;
					max-width: 377px;

					@media (max-width: 767.98px) {
						max-width: 100%;
						margin-bottom: 15px;
						padding-right: 0px;
					}
				}
			}
		}

		// .rs-footer__spollers_title
		&_title {
			width: 100%;
			text-align: left;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 28.08px; /* 175.5% */
			letter-spacing: 0.16px;

			@media (max-width: 1439.98px) {
				font-size: 15px;
				line-height: 130%;
			}
		}

		// .rs-footer__spollers_body
		&_body {
			margin-top: 10px;

			@media (max-width: 1439.98px) {
				margin-top: 20px;
			}
		}
	}

	.menu {
		// .menu__body
		&__body {
		}

		// .menu__list
		&__list {
			li {
				display: flex;
				align-items: flex-start;
				color: var(--text-color);
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%; /* 25.6px */

				@media (max-width: 1439.98px) {
					font-size: 15px;
					line-height: 130%;
					font-weight: 500;
					color: #141517;
				}

				svg {
					min-width: 20px;
					max-width: 20px;
					height: 26px;
					margin-right: 5px;

					@media (max-width: 1439.98px) {
						min-width: 15px;
						max-width: 15px;
						height: 19px;
					}
				}

				&:not(:last-child) {
					margin-bottom: 12px;

					@media (max-width: 1439.98px) {
						margin-bottom: 19px;
					}
				}

				a {
					transition: all 0.3s ease 0s;
					display: flex;
					align-items: flex-start;

					@media (any-hover: hover) {
						&:hover {
							color: var(--primary-color);
						}
					}
				}
			}
		}
	}

	&__social {
		margin-top: 20px;

		@media (max-width: 991.98px) {
			margin-top: 23px;
		}

		.social {
			// .social__list
			&__list {
				display: flex;
				align-items: center;

				@media (max-width: 767.98px) {
					max-width: 350px;
					justify-content: space-between;
				}

				li {
					&:not(:last-child) {
						margin-right: 12px;

						@media (max-width: 991.98px) {
							margin-right: 20px;
						}

						@media (max-width: 767.98px) {
							margin-right: 7px;
						}
					}

					svg,
					img {
						// width: 24px;
						// height: 24px;
						object-fit: contain;
					}

					svg {
						path {
							transition: fill 0.3s ease 0s;
							fill: var(--primary-color);
						}
					}

					a {
						transition: all 0.3s ease 0s;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 46px;
						height: 46px;
						background-color: #f2f4f9;
						border-radius: 50%;

						@media (max-width: 991.98px) {
							width: 40px;
							height: 40px;
						}

						@media (any-hover: hover) {
							&:hover {
								background-color: var(--primary-color);

								svg {
									path {
										fill: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// .rs-footer__bottom
	&__bottom {
		padding: 24px 0px;
		color: var(--text-color);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%; /* 22.4px */
		background-color: #f3f6ff;

		@media (max-width: 991.98px) {
			font-size: 12px;
			padding: 23px 0px;
		}

		@media (max-width: 767.98px) {
			padding: 25px 0px;
		}

		.rs-footer__container {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 539.98px) {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}
		}
	}

	// .rs-footer__copyright
	&__copyright {
	}

	// .rs-footer__develop
	&__develop {
	}
}
