.rs-header {
	position: fixed;
	z-index: 999;
	width: 100%;
	left: 0;
	top: 0;
	background-color: transparent;
	border-bottom: 1px solid #d6dbe0;
	transition:
		background-color 0.3s ease 0s,
		box-shadow 0.3s ease 0s,
		border-radius 0.3s ease 0s,
		border-color 0.3s ease 0s;

	&._header-white {
		border-bottom-color: transparent;
	}

	&._header-scroll {
		color: var(--font-color);
		background-color: #fff;
		box-shadow: var(--box-shadow);
		border-bottom-color: #d6dbe0;
	}

	@media (max-width: 991.98px) {
		border-radius: 0 0 15px 15px;

		.menu-open & {
			background-color: #fff;
			border-radius: 0;
			border-bottom-color: #d6dbe0;
		}
	}

	// .rs-header__container
	&__container {
		display: flex;

		@media (max-width: 767.98px) {
			justify-content: space-between;
		}
	}

	// .rs-header__top
	&__top {
		padding: 9px 0px 8px;
		border-bottom: 1px solid var(--gray-color);
		font-variant-numeric: lining-nums proportional-nums;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 160%; /* 22.4px */
		position: relative;
		z-index: 10;
		transition: background-color 0.3s ease 0s;
		color: var(--font-color);

		._header-white & {
			border-bottom-color: var(--gray-opacity-color);
			color: #fff;
		}

		._header-scroll & {
			background-color: var(--primary-color);
			color: #fff;
		}

		@media (max-width: 1439.98px) {
			font-size: 13px;
			padding: 7px 0px;
		}

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	// .rs-header__location
	&__location {
		position: relative;
		display: inline-block;
		margin: -11px 0px;
		padding: 11px 0px;

		@media (max-width: 991.98px) {
			display: none;
		}

		&_text {
			transition: color 0.3s ease 0s;
			color: var(--font-color);

			._header-white & {
				color: #fff;
			}

			._header-scroll & {
				color: #fff;
			}

			@media (max-width: 1169.98px) {
				max-width: 200px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&._hide-text {
				max-width: 500px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				@media (max-width: 1569.98px) {
					max-width: 400px;
				}

				@media (max-width: 1439.98px) {
					max-width: 300px;
				}

				@media (max-width: 1169.98px) {
					max-width: 200px;
				}

				&::after {
					content: "";
					display: inline-block;
					width: 16px;
					height: 16px;
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 6L8 10L12 6' stroke='%236366F1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					position: absolute;
					right: -20px;
					top: 50%;
					transform: translateY(-50%);
					transition: transform 0.3s ease 0s;

					@media (max-width: 1439.98px) {
						right: -13px;
						width: 14px;
						height: 14px;
					}

					._header-white & {
						background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 6L8 10L12 6' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
					}

					._header-scroll & {
						background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 6L8 10L12 6' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
					}
				}
			}
		}

		&_modal {
			position: absolute;
			top: 100%;
			left: -20px;
			right: -20px;
			width: calc(100% + 40px);
			background-color: #fff;
			color: var(--font-color);
			box-shadow: var(--box-shadow);
			padding: 24px 20px;
			border-radius: 0 0 15px 15px;
			z-index: 10;
			display: block;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transform: translateY(10px);
			transition: all 0.3s ease 0s;

			@media (max-width: 1439.98px) {
				left: -10px;
				right: -10px;
				width: calc(100% + 20px);
				padding: 15px;
			}
		}

		&:hover {
			.rs-header__location_modal {
				opacity: 1;
				transform: translateY(0px);
				visibility: visible;
				pointer-events: unset;
			}

			.rs-header__location_text {
				&::after {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}
	}

	// .rs-header__contact
	&__contact {
		margin-left: auto;
		margin-right: calc(156px / 6 * 6);

		@media (max-width: 1439.98px) {
			margin-right: calc(70px / 6 * 6);
		}

		@media (max-width: 1169.98px) {
			margin-right: calc(25px / 6 * 6);
		}

		.contact {
			// .contact__list
			&__list {
				@media (min-width: 991.98px) {
					display: flex;
					align-items: center;
				}

				@media (max-width: 991.98px) {
					padding: 16px 16px;
				}

				li {
					font-variant-numeric: lining-nums proportional-nums;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 160%; /* 22.4px */
					display: flex;
					align-items: flex-start;

					@media (max-width: 1439.98px) {
						font-size: 13px;
					}

					@media (max-width: 991.98px) {
						font-weight: 400;
					}

					&:not(:last-child) {
						margin-right: 42px;

						@media (max-width: 1569.98px) {
							margin-right: 20px;
						}

						@media (max-width: 1439.98px) {
							margin-right: 15px;
						}

						@media (max-width: 1169.98px) {
							margin-right: 10px;
						}

						@media (max-width: 991.98px) {
							margin-right: 0px;
							margin-bottom: 15px;
						}
					}

					svg {
						margin-right: 5px;
						min-width: 20px;
						max-width: 20px;
						height: 20px;
						object-fit: contain;

						@media (min-width: 991.98px) {
							display: none;
						}
					}

					a {
						transition: all 0.3s ease 0s;
						display: flex;
						align-items: center;

						@media (any-hover: hover) {
							&:hover {
								color: var(--primary-color);
							}
						}
					}
				}
			}
		}
	}

	// .rs-header__social
	&__social {
		@media (max-width: 991.98px) {
			background-color: var(--light-color);
			width: 100%;
			max-width: 768px;
			max-width: 100%;
			padding: 20px 36px;

			@media (max-width: 767.98px) {
				padding-right: 16px;
				padding-left: 16px;
			}
		}
		.social {
			// .social__list
			&__list {
				display: flex;
				align-items: center;

				@media (max-width: 991.98px) {
					justify-content: space-between;
					max-width: 482px;
					margin: 0 auto;
				}

				li {
					&:not(:last-child) {
						margin-right: 8px;

						@media (max-width: 1569.98px) {
							margin-right: 4px;
						}
					}

					svg,
					img {
						width: 24px;
						height: 24px;
						object-fit: contain;
					}

					svg {
						path {
							transition: fill 0.3s ease 0s;
							fill: var(--primary-color);

							@media (min-width: 991.98px) {
								._header-white & {
									fill: #fff;
								}

								._header-scroll & {
									fill: #fff;
								}
							}
						}
					}

					a {
						transition: all 0.3s ease 0s;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 24px;
						height: 24px;

						@media (max-width: 991.98px) {
							width: 40px;
							height: 40px;
							background-color: #fff;
							border-radius: 50%;
						}

						@media (any-hover: hover) {
							&:hover {
								transform: translateY(-3px);
							}
						}
					}
				}
			}
		}
	}

	// .rs-header__body
	&__body {
		padding: 10px 0px;
		position: relative;
		z-index: 5;

		@media (max-width: 991.98px) {
			padding: 15px 0px;
		}

		@media (max-width: 767.98px) {
			padding: 8px 0px;
		}
	}

	// .rs-header__logo
	&__logo {
		@media (max-width: 991.98px) {
			order: 1;
		}

		a {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;

			img,
			svg {
				object-fit: contain;
				max-width: 330px;
				max-height: 74px;

				@media (max-width: 1569.98px) {
					max-width: 280px;
					max-height: 60px;
				}

				@media (max-width: 1439.98px) {
					max-width: 200px;
					max-height: 50px;
				}

				@media (max-width: 1169.98px) {
					max-width: 130px;
					max-height: 30px;
				}

				@media (max-width: 991.98px) {
					max-width: 177px;
					max-height: 22px;
				}

				&:first-child {
					display: none;
				}

				&:last-child {
					display: block;
				}

				._header-white & {
					&:last-child {
						display: none;
					}

					&:first-child {
						display: block;
					}
				}

				._header-scroll & {
					&:first-child {
						display: none;
					}

					&:last-child {
						display: block;
					}
				}

				@media (max-width: 991.98px) {
					.menu-open & {
						&:first-child {
							display: none;
						}

						&:last-child {
							display: block;
						}
					}
				}
			}
		}
	}

	// .rs-header__block
	&__block {
		flex-grow: 1;
		display: flex;

		@media (min-width: 991.98px) {
			margin-left: 50px;

			@media (max-width: 1569.98px) {
				margin-left: 25px;
			}

			@media (max-width: 1439.98px) {
				margin-left: 15px;
			}

			@media (max-width: 1169.98px) {
				margin-left: 10px;
			}
		}

		@media (max-width: 991.98px) {
			order: 2;

			& > .rs-btn {
				display: none;
			}
		}
	}

	&__wrapper {
		flex-grow: 1;
		display: flex;

		@media (min-width: 991.98px) {
			position: relative;
			z-index: 10;
			justify-content: space-between;
		}

		@media (max-width: 991.98px) {
			justify-content: flex-end;
		}
	}

	// .rs-header__menu
	&__menu {
		@media (max-width: 991.98px) {
			order: 3;
		}
		.menu {
			// .menu__icon
			&__icon {
				display: flex;
				align-items: center;
				border: 1px solid var(--primary-color);
				background-color: var(--primary-color);
				border-radius: 51px;
				padding: 11px 18px;
				transition: all 0.3s ease 0s;

				@media (min-width: 991.98px) {
					display: none;
				}

				@media (max-width: 767.98px) {
					padding: 8px 16px;
				}

				// .menu__icon_burger
				&_burger {
					width: 17px;
					height: 17px;

					svg {
						width: 100%;
						height: 100%;

						path {
							fill: #fff;
							transition: all 0.3s ease 0s;
						}
					}
				}

				// .menu__icon_text
				&_text {
					margin-left: 4px;
					display: block;
					font-weight: 500;
					font-size: 13px;
					color: #fff;
					// line-height: 21px;
					line-height: 160%;

					span {
						&:first-child {
							display: block;
						}

						&:last-child {
							display: none;
						}
					}
				}

				.menu-open & {
					background-color: transparent;

					svg {
						path {
							stroke: var(--primary-color);

							&:nth-child(1) {
								transform: rotate(-45deg) translateY(3.5px) translateX(-8.5px);
							}

							&:nth-child(2) {
								opacity: 0;
							}

							&:nth-child(3) {
								transform: rotate(45deg) translateY(-13px) translateX(3.5px);
							}
						}
					}

					.menu__icon_text {
						color: var(--font-color);

						span {
							&:first-child {
								display: none;
							}

							&:last-child {
								display: block;
							}
						}
					}
				}
			}

			// .menu__block
			&__block {
				@media (max-width: 991.98px) {
					position: absolute;
					width: 100%;
					max-height: calc(100vh - 74px);
					min-height: calc(100vh - 74px);
					top: calc(100% + 1px);
					transform: translateX(-150%);
					left: 0;
					overflow-y: scroll;
					overflow-x: hidden;
					background-color: #fff;
					transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
					z-index: 99;
					display: flex;
					flex-direction: column;

					.menu-open & {
						transform: translateX(0%);
					}

					@media (max-width: 767.98px) {
						max-height: calc(100vh - 54px);
						min-height: calc(100vh - 54px);
					}

					& > .menu__wrap.menu__contact {
						border-top: none;
					}
				}

				@media (min-width: 991.98px) {
					height: 100%;

					& > .menu__contact,
					& > .menu__language,
					& > .rs-header__social {
						display: none;
					}
				}
			}

			&__body {
				@media (min-width: 991.98px) {
					height: 100%;
				}
			}

			&__wrap {
				@media (min-width: 991.98px) {
					height: 100%;
				}

				@media (max-width: 991.98px) {
					width: 100%;
					max-width: 768px;
					margin: 0 auto;
					padding: 20px 36px;
					// border-bottom: 1px solid #d6dbe0;

					@media (max-width: 767.98px) {
						padding-right: 16px;
						padding-left: 16px;
					}
				}

				&.menu__language {
					border-top: 1px solid #d4d7e5;

					@media (min-width: 767.98px) {
						display: none;
					}

					.menu__list {
						li {
							a {
								i {
									display: none;
								}
							}
						}
					}
				}

				&.menu__contact {
					border-top: 1px solid #d4d7e5;

					.menu__list {
						li {
							a {
								i {
									display: none;
								}
							}
						}
					}
				}

				& > .rs-btn {
					margin-top: 20px;
					display: inline-flex;
				}

				& > h6 {
					font-weight: 600;
					font-size: 15px;
					// line-height: 19px;
					line-height: 130%;
					margin-bottom: 20px;
				}
			}

			&__list {
				@media (min-width: 991.98px) {
					height: 100%;
					display: flex;
					align-items: center;
				}

				& > li {
					@media (min-width: 991.98px) {
						height: calc(100% + 20px);

						&:not(:last-child) {
							margin-right: 25.5px;

							@media (max-width: 1569.98px) {
								margin-right: 20px;
							}

							@media (max-width: 1439.98px) {
								margin-right: 15px;
							}

							@media (max-width: 1169.98px) {
								margin-right: 10px;
							}
						}
					}

					& > a {
						color: var(--font-color);

						@media (min-width: 991.98px) {
							height: 100%;

							._header-white & {
								color: #fff;
							}

							._header-scroll & {
								color: var(--font-color);
							}
						}
					}
				}

				li {
					position: relative;

					@media (max-width: 991.98px) {
						&:not(:last-child) {
							margin-bottom: 20px;
						}
					}

					@media (any-hover: hover) {
						&:hover {
							& > a {
								color: var(--primary-color) !important;
							}
						}
					}

					a {
						display: flex;
						align-items: center;
						transition: color 0.3s ease 0s;
						position: relative;
						font-variant-numeric: lining-nums proportional-nums;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: 160%; /* 25.6px */

						@media (max-width: 1439.98px) {
							font-size: 13px;
						}

						@media (max-width: 991.98px) {
							align-items: flex-start;
							font-size: 15px;
							// line-height: 19px;
							line-height: 130%;
						}

						svg {
							margin-top: 2px;
							margin-right: 5px;
							flex: 0 0 15px;
						}

						i {
							display: block;
							margin: 0px 0px 0px auto;

							@media (min-width: 991.98px) {
								display: none;
							}

							&::before {
								content: "";
								display: block;
								width: 13px;
								height: 13px;
								background-image: url("../img/icons/caret-arrow-right.svg");
								background-repeat: no-repeat;
								background-position: center;
								background-size: contain;
								transition: all 0.3s ease 0s;
							}
						}
					}

					&.current_menu_item {
						& > a {
							color: var(--primary-color);
						}
					}
				}
			}

			&__more {
				& > a {
					svg {
						path {
							fill: #0b0f19;
							transition: all 0.3s ease 0s;

							._header-white & {
								fill: #fff;
							}

							._header-scroll & {
								fill: #0b0f19;
							}
						}
					}
				}

				@media (any-hover: hover) {
					&:hover {
						& > a {
							svg {
								path {
									fill: var(--primary-color);
								}
							}
						}
					}
				}

				@media (min-width: 991.98px) {
					.menu__dropdown_list {
						& > li {
							& > .menu__dropdown_list {
								top: -15px;
								right: 100%;
								left: auto;
							}
						}
					}
				}
			}

			&__dropdown {
				@media (min-width: 991.98px) {
					@media (any-hover: hover) {
						&:hover {
							& > .menu__dropdown_list {
								opacity: 1;
								visibility: visible;
								transform: translateY(0px);
							}
						}
					}

					&._open-menu {
						& > .menu__dropdown_list {
							opacity: 1;
							visibility: visible;
							transform: translateY(0px);
						}
					}
				}

				// &._open-menu {
				// 	& > a > i:before {
				// 		transform: rotate(90deg);
				// 	}
				// }

				&_section {
					@media (min-width: 991.98px) {
						display: none;
					}

					@media (max-width: 991.98px) {
						position: absolute;
						z-index: 99;
						width: 100%;
						max-height: calc(100vh - 74px);
						min-height: calc(100vh - 74px);
						overflow: hidden;
						top: 100%;
						left: 0;
						transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
						z-index: 99;
						display: flex;
						flex-direction: column;
						pointer-events: none;

						@media (max-width: 767.98px) {
							max-height: calc(100vh - 54px);
							min-height: calc(100vh - 54px);
						}

						.dropmenu-open & {
							pointer-events: unset;
						}
					}
				}

				// .menu__dropdown_list
				&_list {
					@media (min-width: 991.98px) {
						position: absolute;
						z-index: 99;
						transition: all 0.3s ease 0s;
						background-color: #fff;
						display: block;
						transform: translateY(10px);
						top: 100%;
						left: -25px;
						min-width: 177px;
						opacity: 0;
						visibility: hidden;
						// pointer-events: none;
						border-radius: 0 0 15px 15px;
						box-shadow: var(--box-shadow);

						li {
							& > .menu__dropdown_list {
								border-radius: 15px;
								top: -15px;
								left: 100%;
							}
						}
					}

					@media (max-width: 991.98px) {
						padding: 20px 0px 0px 10px;
						display: none;
					}

					li {
						& > a {
							color: var(--font-color);

							@media (min-width: 991.98px) {
								white-space: nowrap;
								padding: 4.5px 24px;
							}
						}

						@media (min-width: 991.98px) {
							&:first-child {
								& > a {
									padding-top: 20px;
								}
							}

							&:last-child {
								& > a {
									padding-bottom: 20px;
								}
							}
						}
					}
				}

				// .menu__dropdown_block
				&_block {
					@media (max-width: 991.98px) {
						position: absolute;
						z-index: 99;
						display: block;
						transition: all 0.3s ease 0s;
						background-color: #fff;
						top: 0;
						left: 0;
						transform: translateX(-100%);
						width: 100%;
						transition: transform 0.8s cubic-bezier(0.6, 0, 0.2, 1);
						max-height: calc(100vh - 74px);
						min-height: calc(100vh - 74px);
						overflow: hidden;

						@media (max-width: 767.98px) {
							max-height: calc(100vh - 54px);
							min-height: calc(100vh - 54px);
						}

						&._open-dropmenu {
							transform: translateX(0%);
						}
					}

					@media (max-width: 991.98px) {
					}
				}

				// .menu__dropdown_head
				&_head {
					padding: 20px 36px;
					border-top: 1px solid #d4d7e5;
					border-bottom: 1px solid #d4d7e5;
					text-align: center;
					position: relative;
					max-width: 768px;
					margin: 0 auto;

					@media (max-width: 767.98px) {
						padding-right: 16px;
						padding-left: 16px;
					}

					@media (min-width: 991.98px) {
						display: none;
					}

					h6 {
						font-weight: 700;
						font-size: 15px;
						// line-height: 19px;
						line-height: 130%;
					}
				}

				// .menu__dropdown_back
				&_back {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 36px;

					@media (max-width: 767.98px) {
						left: 16px;
					}

					&::before {
						content: "";
						min-width: 7px;
						min-height: 13px;
						max-width: 7px;
						max-height: 13px;
						transform: rotate(180deg);
						display: block;
						background-image: url("../img/icons/caret-arrow-right.svg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						transition: transform 0.3s ease 0s;
					}
				}

				// .menu__dropdown_body
				&_body {
					max-height: calc(100vh - (74px + 60px));
					min-height: calc(100vh - (74px + 60px));
					overflow-y: scroll;
					overflow-x: hidden;

					@media (max-width: 767.98px) {
						max-height: calc(100vh - (54px + 60px));
						min-height: calc(100vh - (54px + 60px));
					}
				}
			}
		}
	}

	// .rs-header__search
	&__search {
		z-index: 110;
		transition: all 0.3s ease 0s;
		border: 1px solid transparent;
		background-color: transparent;
		transition:
			width 0.6s cubic-bezier(0.77, 0, 0.175, 1),
			border-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s,
			background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0.4s;

		@media (min-width: 991.98px) {
			top: 0px;
			left: -25px;
			width: 0%;
			z-index: 100;
			position: absolute;
			border-radius: 23px;

			.search-open & {
				width: calc(100% + 10px);
				border-color: var(--primary-color);
				background-color: #fff;
				transition:
					width 0.6s cubic-bezier(0.77, 0, 0.175, 1),
					border-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s,
					background-color 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
			}

			@media (max-width: 1569.98px) {
				left: 0px;

				.search-open & {
					width: calc(100% - 5px);
				}
			}
		}

		@media (max-width: 991.98px) {
			background: #f2f4f9;
			padding: 20px 36px;

			@media (max-width: 767.98px) {
				padding-right: 16px;
				padding-left: 16px;
			}
		}

		.search {
			// .search-show
			&__show {
			}

			// .search__block
			&__block {
				width: 100%;

				@media (max-width: 991.98px) {
					background-color: #fff;
					border-radius: 23px;
					width: 100%;
					max-width: calc(768px - (36px * 2));
					margin: 0 auto;

					@media (max-width: 767.98px) {
						max-width: calc(768px - (16px * 2));
					}
				}
			}

			// .search__form
			&__form {
				width: 100%;
			}

			// .search__wrapper
			&__wrapper {
				overflow: hidden;
			}

			// .search__line
			&__line {
				display: flex;
				padding: 4px 3px 4px 20px;

				@media (max-width: 1569.98px) {
					padding: 2.5px 3px 2.5px 20px;
				}
			}

			// .search__input
			&__input {
				width: 100%;
				font-variant-numeric: lining-nums proportional-nums;
				font-weight: 400;
				font-size: 14px;
				// line-height: 20px;
				line-height: 140%;
				color: var(--font-color);
				background-color: transparent;

				@media (max-width: 1569.98px) {
					font-size: 14px;
				}

				@media (max-width: 1169.98px) {
					font-size: 13px;
				}

				&::placeholder {
					color: #383b56;
				}
			}

			// .search__btn
			&__btn {
			}

			// .search__clear
			&__clear {
				display: none;
				margin-right: 10px;
			}

			&__submit {
				background-color: var(--primary-color);
				min-width: 40px;
				min-height: 40px;
				max-width: 40px;
				max-height: 40px;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			// .search__result
			&__result {
				padding: 12px 20px 20px;

				@media (max-width: 991.98px) {
					padding: 12px 20px 24px;
				}

				// .search__result_head
				&_head {
					margin-bottom: 15px;
					font-weight: 600;
					font-size: 14px;
					// line-height: 22px;
					line-height: 160%;
					color: var(--font-color);
				}

				// .search__result_list
				&_list {
					ul {
						li {
							display: flex;
							align-items: center;

							&:not(:last-child) {
								margin-bottom: 15px;
							}

							&::before {
								content: "";
								position: relative;
								display: block;
								flex: 0 0 14px;
								height: 14px;
								margin-right: 10px;
								background-image: url("../img/icons/search-result.svg");
								background-repeat: no-repeat;
								background-position: center;
								background-size: contain;
							}

							a {
								display: inline-block;
								font-weight: 400;
								font-size: 13px;
								// line-height: 18px;
								line-height: 140%;
								color: var(--text-color);

								strong,
								b {
									font-weight: 600;
									color: var(--font-color);
								}

								span {
									width: 100%;
									display: block;
									margin-top: 1px;
									font-weight: 600;
									font-size: 11px;
									// line-height: 15px;
									line-height: 140%;
									color: #697488;
								}
							}
						}
					}
				}
			}
		}
	}

	// .rs-header__actions
	&__actions {
		display: flex;
		align-items: center;

		@media (min-width: 991.98px) {
			margin: 0px 0px 0px auto;
		}

		@media (max-width: 991.98px) {
			order: 1;
			margin: 0px 0px 0px auto;

			.rs-btn {
				display: none;
			}
		}

		@media (max-width: 767.98px) {
			display: none;
		}
	}

	&__search-btn,
	&__language,
	&__phone {
		margin-right: 15px;
		min-width: 46px;
		max-width: 46px;
		height: 46px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--light-color);
		transition: all 0.3s ease 0s;

		@media (max-width: 1439.98px) {
			min-width: 42px;
			max-width: 42px;
			height: 42px;
			margin-right: 10px;
		}

		@media (max-width: 1169.98px) {
			min-width: 36px;
			max-width: 36px;
			height: 36px;
			margin-right: 5px;
		}

		@media (max-width: 991.98px) {
			min-width: 44px;
			max-width: 44px;
			height: 44px;
			margin-right: 15px;
		}

		._header-white & {
			background-color: var(--light-color-opacity);
		}

		._header-scroll & {
			background-color: var(--light-color);
		}

		@media (max-width: 991.98px) {
			.menu-open & {
				background-color: var(--light-color);
			}
		}
	}

	// .rs-header__language
	&__language {
		position: relative;
		z-index: 1;

		@media (any-hover: hover) {
			&:hover {
				.rs-header__language_body {
					opacity: 1;
					visibility: visible;
					pointer-events: unset;
				}
			}
		}

		// .rs-header__language_current
		&_current {
			margin-right: 0px;
			font-weight: 600;
			font-size: 13px;
			// line-height: 21px;
			line-height: 160%;
			color: var(--primary-color);
			transition: color 0.3s ease 0s;

			@media (max-width: 1439.98px) {
				font-size: 12px;
			}

			@media (max-width: 991.98px) {
				font-size: 13px;
			}

			._header-white & {
				color: #fff;
			}

			._header-scroll & {
				color: var(--primary-color);
			}

			@media (max-width: 991.98px) {
				.menu-open & {
					color: var(--primary-color);
				}
			}
		}

		// .rs-header__language_body
		&_body {
			position: absolute;
			top: 0%;
			right: 0;
			background-color: var(--light-color);
			box-shadow: var(--box-shadow);
			z-index: 10;
			width: 100%;
			display: block;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: all 0.3s ease 0s;
			border-radius: 50px;
			padding: 3px;

			.language-menu-open & {
				opacity: 1;
				visibility: visible;
				pointer-events: unset;
			}

			ul {
				display: flex;
				flex-direction: column;

				li {
					order: 2;

					a {
						min-width: 40px;
						max-width: 40px;
						height: 40px;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: var(--light-color);
						transition: all 0s ease 0s;
						font-weight: 600;
						font-size: 13px;
						// line-height: 21px;
						line-height: 160%;
						color: var(--primary-color);

						@media (max-width: 1439.98px) {
							min-width: 36px;
							max-width: 36px;
							height: 36px;
							font-size: 12px;
						}

						@media (max-width: 1169.98px) {
							min-width: 30px;
							max-width: 30px;
							height: 30px;
						}

						@media (max-width: 991.98px) {
							min-width: 38px;
							max-width: 38px;
							height: 38px;
							font-size: 13px;
						}
					}

					&.current_menu_item {
						order: 1;

						a {
							transition: all 0.3s ease 0s;
							background-color: var(--primary-color);
							color: #fff;
						}
					}

					@media (any-hover: hover) {
						&:hover {
							a {
								transition: all 0.3s ease 0s;
								background-color: var(--primary-color);
								color: #fff;
							}
						}
					}
				}
			}
		}
	}

	// .rs-header__search-btn
	&__search-btn {
		@media (max-width: 991.98px) {
			display: none;
		}

		svg {
			circle,
			path {
				transition: 0.3s ease 0s;
				transition-property: fill, stroke;
			}

			circle {
				fill: var(--primary-color);
			}

			path {
				stroke: var(--primary-color);
			}

			._header-white & {
				circle {
					fill: #fff;
				}

				path {
					stroke: #fff;
				}
			}

			._header-scroll & {
				circle {
					fill: var(--primary-color);
				}

				path {
					stroke: var(--primary-color);
				}
			}
		}
	}

	// .rs-header__phone
	&__phone {
		@media (min-width: 991.98px), (max-width: 767.98px) {
			display: none;
		}

		svg {
			path {
				transition: 0.3s ease 0s;
				transition-property: fill, stroke;
			}

			path {
				stroke: var(--primary-color);
			}

			._header-white & {
				path {
					stroke: #fff;
				}
			}

			._header-scroll & {
				path {
					stroke: var(--primary-color);
				}
			}

			@media (max-width: 991.98px) {
				.menu-open & {
					path {
						stroke: var(--primary-color);
					}
				}
			}
		}
	}
}
