._rs-icon-arrow-regular-up:before {
	content: "\e900";
}
._rs-icon-arrow-regular-left:before {
	content: "\e902";
}
._rs-icon-arrow-regular-right:before {
	content: "\e903";
}
._rs-icon-arrow-regular-down:before {
	content: "\e916";
}
._rs-icon-arrow-bold-right:before {
	content: "\e901";
}
._rs-icon-arrow-bold-up:before {
	content: "\e917";
}
._rs-icon-arrow-bold-down:before {
	content: "\e918";
}
._rs-icon-arrow-bold-left:before {
	content: "\e919";
}
._rs-icon-calendar:before {
	content: "\e904";
}
._rs-icon-caret-bold-right:before {
	content: "\e905";
}
._rs-icon-caret-bold-down:before {
	content: "\e91a";
}
._rs-icon-caret-bold-up:before {
	content: "\e91b";
}
._rs-icon-caret-bold-left:before {
	content: "\e91c";
}
._rs-icon-check:before {
	content: "\e906";
}
._rs-icon-caret-regular-down:before {
	content: "\e907";
}
._rs-icon-caret-regular-left:before {
	content: "\e91d";
}
._rs-icon-caret-regular-right:before {
	content: "\e91e";
}
._rs-icon-caret-regular-up:before {
	content: "\e91f";
}
._rs-icon-fav:before {
	content: "\e908";
}
._rs-icon-list:before {
	content: "\e90a";
}
._rs-icon-location:before {
	content: "\e90b";
}
._rs-icon-message:before {
	content: "\e90c";
}
._rs-icon-odnoklassniki:before {
	content: "\e90d";
}
._rs-icon-search:before {
	content: "\e90e";
}
._rs-icon-stars:before {
	content: "\e90f";
}
._rs-icon-telegram:before {
	content: "\e910";
}
._rs-icon-users:before {
	content: "\e911";
}
._rs-icon-vkontakte:before {
	content: "\e912";
}
._rs-icon-warning:before {
	content: "\e913";
}
._rs-icon-ways:before {
	content: "\e914";
}
._rs-icon-whatsapp:before {
	content: "\e915";
}
._rs-icon-close:before {
	content: "\e909";
}
