.rs-catalog {
	@media (max-width: 991.98px) {
		overflow: hidden;
	}

	&.rs-catalog-inner {
		margin-top: 0;
	}

	// .rs-catalog__container
	&__container {
	}

	// .rs-catalog__slider
	&__slider {
		overflow: visible;
	}

	// .rs-catalog__swiper
	&__swiper {
		@media (min-width: 991.98px) {
			width: auto;
			display: flex;
			flex-wrap: wrap;
			margin: -15px;

			@media (max-width: 1439.98px) {
				margin: -10px;
			}

			@media (max-width: 1169.98px) {
				margin: -7.5px;
			}
		}
	}

	// .rs-catalog__slide
	&__slide {
		min-height: 1px;
		height: auto;

		@media (max-width: 991.98px) {
			height: 290px;
		}

		@media (min-width: 991.98px) {
			padding: 15px;

			@media (max-width: 1439.98px) {
				padding: 10px;
			}

			@media (max-width: 1169.98px) {
				padding: 7.5px;
			}

			&:nth-child(1),
			&:nth-child(2) {
				flex: 0 0 50%;
			}

			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				flex: 0 0 33.33333%;
			}

			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8),
			&:nth-child(9) {
				flex: 0 0 25%;
			}

			&:nth-child(10),
			&:nth-child(11),
			&:nth-child(12),
			&:nth-child(13),
			&:nth-child(14) {
				flex: 0 0 20%;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				.rs-catalog__img {
					img {
						transform: scale(1.1);
					}
				}
			}
		}
	}

	// .rs-catalog__item
	&__item {
		position: relative;
		border-radius: 15px;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	// .rs-catalog__link
	&__link {
		width: 100%;
		height: 100%;
		display: block;
	}

	// .rs-catalog__img
	&__img {
		width: 100%;
		height: 100%;
		max-height: 290px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 1s ease 0s;
		}
	}

	// .rs-catalog__desc
	&__desc {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 30px;
		color: #fff;

		@media (max-width: 1439.98px) {
			padding: 16px;
		}
	}

	//========================================================================================================================================================
	// .rs-catalog__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			gap: 8px;
		}
	}

	&__opens {
		@media (min-width: 991.98px) {
			display: none;
		}

		@media (max-width: 991.98px) {
			display: flex;
			align-items: center;
			justify-content: space-between;

			&_btn {
				gap: 5px;
				display: flex;
				align-items: center;
				font-weight: 600;
				font-size: 13px;
				// line-height: 21px;
				line-height: 160%;
				color: #000;
			}
		}
	}

	// .rs-catalog__sidebar
	&__sidebar {
		@media (min-width: 991.98px) {
			grid-column: 2 span;
		}
	}

	// .rs-catalog__spollers
	&__spollers {
		// .rs-catalog__spollers_item
		&_item {
			@media (min-width: 991.98px) {
				padding: 16px;
				border-bottom: 1px solid #d6dbe0;
				border-left: 1px solid #d6dbe0;
				border-right: 1px solid #d6dbe0;

				&:first-child {
					border-radius: 15px;
					border-top: 1px solid #d6dbe0;
					margin-bottom: 24px;
				}

				&:nth-child(2) {
					border-top: 1px solid #d6dbe0;
					border-radius: 15px 15px 0px 0px;
				}

				&:last-child {
					border-radius: 0px 0px 15px 15px;
				}
			}

			@media (max-width: 991.98px) {
				position: fixed;
				padding: 0;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				z-index: 1000;
				background: #f2f4f9;
				transform: translateX(-150%);
				transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);

				&.filter-open {
					transform: translateX(0%);
				}
			}
		}

		&_block {
			@media (min-width: 991.98px) {
				.rs-catalog__select {
					display: none;
				}
			}

			@media (max-width: 991.98px) {
				max-height: calc(100vh - (64px + 82px));
				min-height: calc(100vh - (64px + 82px));
				overflow-y: scroll;
				overflow-x: hidden;

				/* Non-Standard, But More Styling-Capable Properties */
				&::-webkit-scrollbar {
					cursor: pointer;
					width: 4px;
					background: #fff;
				}

				&::-webkit-scrollbar-thumb {
					cursor: pointer;
					background: #e2e5f1;
					transition: 0.2s ease-in-out;
					border-radius: 3px;
				}

				/* Standardized Properties */
				@supports not selector(::-webkit-scrollbar) {
					scrollbar-color: #e2e5f1 #fff;
					scrollbar-width: thin;
				}
			}
		}

		&_head {
			@media (max-width: 991.98px) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 21px 36px;
				background-color: #fff;
				position: relative;

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					border-bottom: 1px solid #d6dbe0;
					z-index: 10;
					width: 100%;
					height: 1px;
				}
			}

			@media (max-width: 767.98px) {
				padding-left: 16px;
				padding-right: 16px;
			}
		}

		// .rs-catalog__spollers_title
		&_title {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: left;
			font-weight: 600;
			font-size: 16px;
			// line-height: 19px;
			line-height: 120%;

			@media (max-width: 991.98px) {
				line-height: 140%;
				flex-direction: row-reverse;
				justify-content: flex-end;
			}

			&::after {
				content: "";
				flex: 0 0 10px;
				height: 10px;
				background-image: url("../img/icons/caret-arrow-down--bold.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transition: transform 0.3s ease 0s;

				@media (max-width: 991.98px) {
					background-image: url("../img/icons/caret-arrow-right.svg");
					flex: 0 0 12px;
					height: 12px;
					margin-right: 12px;
					transform: rotate(180deg);
				}

				@media (max-width: 767.98px) {
					margin-right: 4px;
				}
			}

			@media (min-width: 991.98px) {
				&._spoller-active {
					&::after {
						transform: rotate(180deg);
					}
				}
			}
		}

		&_clear {
			@media (min-width: 991.98px) {
				display: none;
			}

			@media (max-width: 991.98px) {
				font-weight: 500;
				font-size: 14px;
				// line-height: 17px;
				line-height: 120%;
				color: var(--primary-color);
				padding-bottom: 3px;
				border-bottom: 1px solid currentColor;
			}
		}

		// .rs-catalog__spollers_body
		&_body {
			margin-top: 8px;

			@media (max-width: 991.98px) {
				margin-top: 0px;
				padding: 20px 36px;
				background-color: #fff;
			}

			@media (max-width: 767.98px) {
				padding-left: 16px;
				padding-right: 16px;
			}
		}

		&_link {
			@media (min-width: 991.98px) {
				display: none;
			}

			@media (max-width: 991.98px) {
				margin: 8px 0px;
				background-color: #fff;
				padding: 10px 0px;
				border-radius: 10px;

				ul {
					li {
						a {
							padding: 10px 36px;
							font-weight: 600;
							font-size: 16px;
							// line-height: 22px;
							line-height: 140%;
							color: #000;
							display: flex;
							align-items: center;
							justify-content: space-between;

							&::after {
								content: "";
								display: block;
								width: 12px;
								height: 12px;
								background-image: url("../img/icons/caret-arrow-right.svg");
								background-repeat: no-repeat;
								background-position: center;
								background-size: contain;
								transition: all 0.3s ease 0s;
							}
						}
					}
				}
			}

			@media (max-width: 991.98px) {
				ul {
					li {
						a {
							padding-left: 16px;
							padding-right: 16px;
						}
					}
				}
			}
		}

		&_buttons {
			@media (min-width: 991.98px) {
				display: none;
			}

			@media (max-width: 991.98px) {
				padding: 18px 36px;
				border-radius: 10px 10px 0 0;
				background: #fff;

				.rs-btn {
					padding-top: 12px;
					padding-bottom: 12px;
					width: 100%;
				}
			}

			@media (max-width: 767.98px) {
				padding-left: 16px;
				padding-right: 16px;
			}
		}
	}

	// .rs-catalog__showmore
	&__showmore {
		margin-top: 8px;
		border-bottom: 1px dashed currentColor;
		padding: 4px 0px;
		font-weight: 600;
		font-size: 13px;
		// line-height: 18px;
		line-height: 140%;
		color: #383b56;

		@media (max-width: 1439.98px) {
			font-weight: 500;
			font-size: 14px;
			// line-height: 17px;
			line-height: 120%;
		}

		& > span {
			display: block;

			&:last-child {
				display: none;
			}
		}

		&._showmore-active {
			& > span {
				display: none;

				&:last-child {
					display: block;
				}
			}
		}
	}

	// .rs-catalog__filters
	&__filters {
		.range {
			// .range__filter
			&__filter {
				@media (max-width: 991.98px) {
					flex-direction: column-reverse;
					display: flex;
					padding-top: 20px;
				}

				.noUi-target {
					background: #d6dbe0;
					border-radius: 15px;
					-webkit-box-shadow: none;
					box-shadow: none;
				}

				.noUi-horizontal .noUi-origin {
					height: 100%;
				}

				.noUi-horizontal .noUi-handle {
					top: 50%;
					right: 0;
					transform: translateY(-50%);

					&.noUi-handle-lower {
						right: -17px;
					}
				}

				.noUi-connect {
					background: var(--primary-color);
				}

				.noUi-horizontal .noUi-handle {
					-webkit-box-shadow: none;
					box-shadow: none;
					border: none;
					cursor: grab;
					height: 18px;
					width: 18px;
					border-radius: 50%;
					background: var(--primary-color);

					&::before,
					&::after {
						display: none;
					}
				}
			}

			// .range__slider
			&__slider {
				height: 2px;
				border: none;
				width: 100%;
				margin: 14px 0px 16px;

				@media (max-width: 991.98px) {
					margin: 24px 0px 8px;
				}
			}

			// .range__row
			&__row {
				display: grid;
				gap: 8px;

				@media (min-width: 1169.98px), (max-width: 991.98px) {
					grid-template-columns: repeat(2, 1fr);
				}
			}

			// .range__block
			&__block {
				width: 100%;
				flex: 0 0 50%;
				border: 1px solid #d6dbe0;
				border-radius: 5px;
				padding: 7px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				@media (max-width: 991.98px) {
					padding: 12px 8px;
				}

				span {
					font-weight: 600;
					font-size: 13px;
					// line-height: 18px;
					line-height: 140%;
					color: #3a3b40;
				}
			}

			// .range__label
			&__label {
				flex-grow: 1;
			}

			// .range__input
			&__input {
				width: 100%;
				font-weight: 400;
				font-size: 16px;
				// line-height: 22px;
				line-height: 140%;
				color: #383b56;
				text-align: center;

				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				@media (max-width: 991.98px) {
					font-size: 14px;
					// line-height: 22px;
					line-height: 160%;
				}
			}
		}

		.checkbox {
			// .checkbox__filter
			&__filter {
				.rs-catalog__showmore {
					@media (max-width: 991.98px) {
						display: none !important;
					}
				}

				@media (max-width: 991.98px) {
					&.checkbox__filter--search {
						.checkbox__list {
							max-height: calc(100vh - (148px + 82px));
							min-height: calc(100vh - (148px + 82px));
						}
					}
				}
			}

			&__search {
				@media (min-width: 991.98px) {
					display: none;
				}

				@media (max-width: 991.98px) {
					border: 1px solid #d6dbe0;
					border-radius: 5px;
					padding: 12px 15px;
					background: rgba(255, 255, 255, 0.2);
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-bottom: 16px;

					input {
						flex-grow: 1;
						padding: 0px 8px 0px 0px;
						font-weight: 400;
						font-size: 16px;
						// line-height: 22px;
						line-height: 140%;
						color: #383b56;
					}

					button {
						flex: 0 0 18px;
						height: 18px;
					}
				}
			}

			// .checkbox__block
			&__block {
			}

			// .checkbox__list
			&__list {
				@media (max-width: 991.98px) {
					overflow-y: scroll;
					overflow-x: hidden;
					max-height: calc(100vh - (148px + 82px - (48px + 16px)));
					min-height: calc(100vh - (148px + 82px - (48px + 16px)));
					padding-right: 8px;
					margin-bottom: -20px;
					padding-bottom: 20px;

					/* Non-Standard, But More Styling-Capable Properties */
					&::-webkit-scrollbar {
						cursor: pointer;
						width: 4px;
						background: #fff;
					}

					&::-webkit-scrollbar-thumb {
						cursor: pointer;
						background: #e2e5f1;
						transition: 0.2s ease-in-out;
						border-radius: 3px;
					}

					/* Standardized Properties */
					@supports not selector(::-webkit-scrollbar) {
						scrollbar-color: #e2e5f1 #fff;
						scrollbar-width: thin;
					}
				}

				li {
					padding: 4.7px 0px;

					@media (max-width: 1439.98px) {
						padding: 6px 0px;
					}
				}
			}

			&__item {
				display: flex;
				align-items: center;
				cursor: pointer;

				@media (max-width: 991.98px) {
					flex-direction: row-reverse;
					justify-content: space-between;
				}
			}

			// .checkbox__emulator
			&__emulator {
				display: block;
				height: 20px;
				flex: 0 0 20px;
				position: relative;
				background-color: transparent;
				border: 1px solid #d6dbe0;
				border-radius: 4px;
				margin-right: 8px;
				transition: all 0.3s ease 0s;

				@media (max-width: 991.98px) {
					margin-right: 0px;
					margin-left: 8px;
				}

				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 50%;
					left: 50%;
					opacity: 0;
					z-index: 1;
					transform: translate(-50%, -50%) scale(1.5);
					transition: ease-out 0.15s;
					background-image: url("../img/icons/check-filter.svg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
			}

			// .checkbox__label
			&__label {
				font-weight: 400;
				font-size: 16px;
				// line-height: 22px;
				line-height: 140%;
				color: #383b56;
				display: flex;
				align-items: center;
				cursor: pointer;

				@media (max-width: 1439.98px) {
					font-weight: 500;
					font-size: 14px;
					// line-height: 17px;
					line-height: 120%;
				}
			}

			// .checkbox__color
			&__color {
				flex: 0 0 13px;
				height: 13px;
				background-color: var(--color);
				border: 1px solid var(--color-border);
				border-radius: 50%;
				margin-right: 4px;
			}

			&__input {
				position: absolute;
				opacity: 0;
				visibility: hidden;
				font-size: 0px;

				&:checked ~ .checkbox__emulator {
					background-color: var(--primary-color);
					border-color: var(--primary-color);
				}

				&:checked ~ .checkbox__emulator::before {
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
				}
			}
		}

		.category {
			// .category__wrapper&__wrapper
			&__wrapper {
				position: relative;
				overflow: hidden;
			}

			&__block {
				// position: absolute;
				// transform: translateX(100%);
				// opacity: 0;
				// visibility: hidden;
				// transition: all 0.3s ease 0s;

				transition-behavior: allow-discrete;
				display: none;
				opacity: 0;
				transition: opacity 0.3s ease 0s;

				&._show {
					// position: relative;
					// transform: translateX(0px);
					// opacity: 1;
					// visibility: visible;

					display: block;
					opacity: 1;

					@starting-style {
						opacity: 0;
					}
				}

				&[data-submenu] {
					.category__list {
						li {
							padding-left: 20px;
							padding-right: 20px;

							@media (max-width: 1439.98px) {
								padding-left: 14px;
								padding-right: 14px;
							}
						}
					}
				}
			}

			// .category__list
			&__list {
				li {
					padding: 4.7px 0px;

					@media (max-width: 1439.98px) {
						padding: 6px 0px;
					}

					a {
						font-weight: 400;
						font-size: 16px;
						// line-height: 22px;
						line-height: 140%;
						color: #383b56;

						@media (max-width: 1439.98px) {
							font-weight: 500;
							font-size: 14px;
							// line-height: 17px;
							line-height: 120%;
						}
					}
				}
			}

			// .category__nav
			&__nav {
				.category__list {
					li {
						position: relative;

						a {
							&::before {
								content: "";
								position: absolute;
								top: 50%;
								transform: translateY(-50%) rotate(90deg);
								left: 0;
								display: block;
								width: 10px;
								height: 10px;
								background-image: url("../img/icons/caret-arrow-down--bold.svg");
								background-repeat: no-repeat;
								background-position: center;
								background-size: contain;
								transition: transform 0.3s ease 0s;
							}
						}
					}
				}
			}
		}
	}

	// .rs-catalog__filters_buttons
	&__buttons {
		margin-top: 24px;

		@media (max-width: 991.98px) {
			display: none;
		}

		& > * {
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 15px;
			}

			&:not(.rs-btn) {
				font-weight: 600;
				font-size: 13px;
				// line-height: 18px;
				line-height: 140%;
				text-align: center;
				color: #383b56;
			}
		}
	}

	// .rs-catalog__filter-show
	&__filter-show {
	}

	// .rs-catalog__filter-clear
	&__filter-clear {
	}

	// .rs-catalog__content
	&__content {
		@media (min-width: 991.98px) {
			grid-column: 8 span;
			padding-left: 22px;

			@media (max-width: 1439.98px) {
				padding-left: 16px;
			}
		}

		@media (max-width: 991.98px) {
			.rs-catalog__select {
				display: none;
			}
		}

		h4 {
			font-size: 28px;

			@media (max-width: 1439.98px) {
				font-size: 24px;
			}

			@media (max-width: 1169.98px) {
				font-size: 20px;
			}

			@media (max-width: 991.98px) {
				font-size: 16px;
			}
		}
	}

	// .rs-catalog__head
	&__head {
		border-bottom: 1px solid #d6dbe0;
		padding: 0px 0px 14px 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		font-size: 14px;
		// line-height: 20px;
		line-height: 140%;
		color: #697488;

		@media (max-width: 991.98px) {
			position: fixed;
			padding: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			z-index: 1000;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			opacity: 0;
			visibility: hidden;
			transition: 0.3s ease 0.3s;
			transition-property: opacity, visibility;

			.sort-open & {
				opacity: 1;
				visibility: visible;
				transition: 0.3s ease 0s;
			}

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: -1;
				background: rgba(0, 0, 0, 0.5);
			}
		}
	}

	// .rs-catalog__result
	&__result {
		@media (max-width: 991.98px) {
			display: none;
		}
	}

	// .rs-catalog__sort
	&__sort {
		display: flex;
		align-items: center;

		@media (max-width: 991.98px) {
			width: 100%;
			padding: 44px 36px;
			border-radius: 15px 15px 0 0;
			background: #fff;
			position: relative;
			transition: transform 0.3s ease 0s;
			transform: translateY(100%);

			.sort-open & {
				transform: translateY(0px);
				transition: transform 0.3s ease 0.3s;
			}
		}

		@media (max-width: 767.98px) {
			padding-left: 16px;
			padding-right: 16px;
		}

		&_text {
			@media (max-width: 991.98px) {
				display: none;
			}
		}

		&_close {
			@media (min-width: 991.98px) {
				display: none;
			}

			@media (max-width: 991.98px) {
				position: absolute;
				top: 12px;
				right: 36px;
				width: 14px;
				height: 14px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			@media (max-width: 767.98px) {
				right: 16px;
			}
		}

		.select {
			width: 100%;
			position: relative;

			@media (min-width: 991.98px) {
				margin-left: 8px;
				width: 233px;
			}

			&._select-error {
				.select__title {
					border-color: var(--primary-color);
				}

				.select__value {
					color: var(--primary-color);

					&::before {
						display: block;
					}
				}
			}

			// .select__body
			&__body {
				position: relative;
			}

			// .select__title
			&__title {
				color: inherit;
				text-align: left;
				cursor: pointer;
				width: 100%;
				border: 1px solid #d6dbe0;
				border-radius: 5px;
				background: #fff;

				@media (max-width: 991.98px) {
					display: none;
				}
			}

			// .select__value
			&__value {
				display: flex;
				align-items: center;
				padding: 12px;
				font-weight: 600;
				font-size: 14px;
				// line-height: 22px;
				line-height: 160%;
				color: #383b56;

				@media (max-width: 1439.98px) {
					padding: 6px 10px;
				}

				> * {
					flex: 1 1 auto;
				}

				&:after {
					content: "";
					background-image: url("../img/icons/caret-arrow-down--bold.svg");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					height: 12px;
					flex: 0 0 12px;
					transition: all 0.3s ease 0s;
					display: flex;
					justify-content: center;
					align-items: center;

					._select-open & {
						transform: rotate(-180deg);
					}
				}
			}

			&__content {
			}

			// .select__text
			&__text {
				flex: 1 1 auto;
			}

			// .select__options
			&__options {
				min-width: 100%;
				z-index: 10;

				@media (min-width: 991.98px) {
					border-radius: 5px;
					background: #fff;
					position: absolute;
					top: calc(100% + 3px);
					left: 0;
					padding: 12px;
					box-shadow:
						0 2px 6px -1px rgba(11, 15, 25, 0.03),
						0 4px 10px -1px rgba(11, 15, 25, 0.06);
				}

				@media (max-width: 991.98px) {
					display: block !important;
					height: auto !important;
					max-height: unset !important;
				}
			}

			// .select__scroll
			&__scroll {
				overflow-y: auto;
				overflow-x: hidden;
				// Максимальная высота
				max-height: 400px;
				// Стили скроллбара
				.simplebar-scrollbar {
					&::before {
						//opacity: 1;
					}
				}
			}

			// .select__option
			&__option {
				width: 100%;
				text-align: left;
				display: flex;
				align-items: center;
				justify-content: space-between;
				cursor: pointer;
				font-weight: 600;
				font-size: 14px;
				// line-height: 22px;
				line-height: 160%;
				color: #383b56;
				transition: all 0.3s ease 0s;

				@media (max-width: 991.98px) {
					font-size: 16px;
					// line-height: 22px;
					line-height: 140%;
				}

				&:not(:last-child) {
					margin-bottom: 6px;

					@media (max-width: 991.98px) {
						margin-bottom: 18px;
					}
				}

				&._select-selected {
					color: var(--primary-color);

					&::after {
						content: "";
						display: block;
						flex: 0 0 14px;
						height: 14px;
						background-image: url("../img/icons/check-select.svg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
					}
				}

				@media (any-hover: hover) {
					&:hover {
						color: var(--primary-color);
					}
				}
			}

			// Конструкция дополнительных данных
			&__row {
				display: inline-flex;
				align-items: center;
			}

			&__asset {
			}

			&__text {
			}

			// Состояния селекта
			&._select-open {
				z-index: 5;
			}
		}

		// Тег
		._select-tag {
			cursor: pointer;
		}
	}

	// .rs-catalog__select
	&__select {
		margin-top: 15px;

		@media (max-width: 991.98px) {
			margin-top: 0px;
			padding: 20px 36px;
		}

		@media (max-width: 767.98px) {
			padding-left: 16px;
			padding-right: 16px;
		}

		// .rs-catalog__select_list
		&_list {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;

			@media (max-width: 991.98px) {
				gap: 4px;
			}

			li {
				display: flex;
				align-items: center;
				border-radius: 50px;
				padding: 5px 12px;
				background-color: var(--primary-color);
				font-weight: 600;
				font-size: 14px;
				// line-height: 22px;
				line-height: 160%;
				color: #fff;

				@media (max-width: 991.98px) {
					padding: 3px 12px;
					font-size: 13px;
				}
			}
		}

		// .rs-catalog__select_clear
		&_clear {
			margin-left: 8px;

			@media (max-width: 991.98px) {
				svg {
					width: 10px;
					height: 10px;
				}
			}
		}

		// .rs-catalog__select_clear-all
		&_clear-all {
			margin-top: 7px;
			padding: 5px 12px;
			font-weight: 600;
			font-size: 14px;
			color: #0b0f19;

			@media (min-width: 991.98px) {
				&.rs-btn._btn-white:not(:hover) {
					background: #f3f6ff;
				}
			}

			@media (max-width: 991.98px) {
				padding: 3px 12px;
				margin-right: 4px;
				font-size: 13px;
				line-height: 160%;
			}
		}
	}

	// .rs-catalog__block
	&__block {
		margin-top: 15px;

		@media (max-width: 991.98px) {
			margin-top: 12px;
		}
	}

	// .rs-catalog__list
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 26px 24px;

		@media (max-width: 1439.98px) {
			grid-template-columns: repeat(3, 1fr);
			gap: 12px;
		}

		@media (max-width: 767.98px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 12px 7px;

			.rs-product {
				padding: 8px;

				&__footer {
					margin-top: 8px;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;

					.rs-btn {
						width: 100%;
						margin-top: 8px;
						padding-top: 5px;
						padding-bottom: 5px;
					}
				}

				&__prices {
					display: flex;
					align-items: center;
					flex-direction: row-reverse;
					gap: 8px;
				}
			}
		}
	}

	// .rs-catalog__add
	&__add {
		width: 100%;
		margin-top: 12px;

		&.rs-btn._btn-white:not(:hover) {
			background-color: #f3f6ff;
		}

		@media (max-width: 767.98px) {
			margin-top: 18px;
		}
	}

	.pagging {
		justify-content: center;
		margin-top: 24px;
	}

	// .rs-catalog__text
	&__text {
		margin-top: 50px;
		padding-top: 80px;
		border-top: 2px solid #d6dbe0;

		p {
			margin-top: 8px;
		}

		blockquote {
			margin-top: 16px;

			h6 {
				font-weight: 500;
				line-height: 120%;
			}
		}
	}

	.range {
		// .range__filter
		&__filter {
		}

		// .range__slider
		&__slider {
		}

		// .range__row
		&__row {
		}

		// .range__inputs
		&__inputs {
		}

		// .range__item
		&__item {
		}

		// .range__label
		&__label {
		}

		// .range__input
		&__input {
		}
	}

	.checkbox {
		// .checkbox__filter
		&__filter {
		}

		// .checkbox__block
		&__block {
		}

		// .checkbox__list
		&__list {
		}

		// .checkbox__emulator
		&__emulator {
		}

		// .checkbox__label
		&__label {
		}

		// .checkbox__color
		&__color {
		}
	}

	.rs-product-slider {
		margin-top: 80px;

		@media (max-width: 991.98px) {
			margin-top: 50px;
		}
	}
}
