.rs-contacts {
	padding: 80px 0px;
	margin: 0;
	border-radius: 0px;

	@media (max-width: 1439.98px) {
		padding: 80px 0px;
	}

	@media (max-width: 991.98px) {
		padding: 50px 0px;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .rs-contacts__container
	&__container {
	}

	// .rs-contacts__block
	&__block {
		position: relative;
		// padding-bottom: 47.2%;
		height: 722px;

		@media (max-width: 1439.98px) {
			height: 650px;
		}

		@media (max-width: 991.98px) {
			height: 100%;
		}
	}

	// .rs-contacts__map
	&__map {
		@media (min-width: 991.98px) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		@media (max-width: 991.98px) {
			height: 328px;
			margin-bottom: -9px;
			position: relative;
			z-index: 1;
		}

		@media (max-width: 767.98px) {
			height: 300px;
		}
	}

	&__wrapper {
		@media (min-width: 991.98px) {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			padding: 85px 0px 91px 84px;
			z-index: 100;

			@media (max-width: 1439.98px) {
				padding: 50px 0px 50px 50px;
			}

			@media (max-width: 1169.98px) {
				padding: 20px 0px 20px 20px;
			}
		}

		@media (max-width: 991.98px) {
			position: relative;
			z-index: 2;
		}
	}

	// .rs-contacts__body
	&__body {
		width: 100%;
		height: 100%;
		max-width: 475px;
		padding: 53px 51px;
		background-color: #fff;
		border-radius: 15px;

		@media (max-width: 1439.98px) {
			padding: 30px;
			max-width: 400px;
		}

		@media (max-width: 991.98px) {
			max-width: 100%;
			padding: 24px;
			box-shadow: 9px 11px 29px 0 rgba(125, 138, 152, 0.15);
		}

		@media (max-width: 767.98px) {
			padding: 24px 16px;
		}

		p {
			margin-top: 10px;

			@media (max-width: 991.98px) {
				margin-top: 8px;
			}
		}

		& > .rs-btn {
			margin-top: 16px;

			@media (max-width: 991.98px) {
				margin-top: 16px;
				width: 100%;
			}
		}
	}

	// .rs-contacts__contact
	&__contact {
		margin-top: 15px;
		li {
			display: flex;
			align-items: flex-start;
			color: var(--text-color);
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 160%; /* 25.6px */

			@media (max-width: 1439.98px) {
				font-size: 15px;
				line-height: 130%;
				font-weight: 500;
			}

			svg {
				min-width: 16px;
				max-width: 16px;
				margin-top: 4px;
				margin-right: 5px;

				@media (max-width: 1439.98px) {
					min-width: 15px;
					max-width: 15px;
				}
			}

			&:not(:last-child) {
				margin-bottom: 12.5px;

				@media (max-width: 1439.98px) {
					margin-bottom: 16px;
				}
			}

			a {
				transition: all 0.3s ease 0s;
				display: flex;
				align-items: flex-start;

				@media (any-hover: hover) {
					&:hover {
						color: var(--primary-color);
					}
				}
			}
		}
	}

	// .rs-contacts__social
	&__social {
		margin-top: 18px;
		display: flex;
		align-items: center;

		@media (max-width: 767.98px) {
			max-width: 350px;
			justify-content: space-between;
		}

		li {
			&:not(:last-child) {
				margin-right: 16px;

				@media (max-width: 767.98px) {
					margin-right: 7px;
				}
			}

			svg,
			img {
				width: 24px;
				height: 24px;
				object-fit: contain;
			}

			svg {
				path {
					transition: fill 0.3s ease 0s;
					fill: var(--primary-color);
				}
			}

			a {
				transition: all 0.3s ease 0s;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 46px;
				height: 46px;
				background-color: #f2f4f9;
				border-radius: 50%;

				@media (max-width: 991.98px) {
					width: 40px;
					height: 40px;
				}

				@media (max-width: 767.98px) {
					width: 30px;
					height: 30px;

					svg {
						width: 20px;
						height: 20px;
					}
				}

				@media (any-hover: hover) {
					&:hover {
						background-color: var(--primary-color);

						svg {
							path {
								fill: #fff;
							}
						}
					}
				}
			}
		}
	}

	&__top {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: 30px;
		}

		.rs-contacts__body {
			padding: 50px;
			max-width: 100%;
			width: 100%;
			box-shadow: 9px 11px 29px 0 rgba(125, 138, 152, 0.15);
			background: #fff;
			border-radius: 15px;

			@media (max-width: 1439.98px) {
				padding: 30px;
			}

			@media (max-width: 1169.98px) {
				padding: 20px 15px;
			}

			&:first-child {
				@media (min-width: 991.98px) {
					grid-column: 1/6;
				}
			}

			&:last-child {
				@media (min-width: 991.98px) {
					grid-column: 6/13;
				}
			}

			& > h3 {
				margin-bottom: 8px;
			}

			.rs-contacts__contact {
				margin-top: 15px;

				@media (max-width: 991.98px) {
					margin-top: 10px;
				}
			}

			& > h5 {
				margin-top: 25px;

				@media (max-width: 991.98px) {
					margin-top: 15px;
				}
			}

			.rs-contacts__social {
				margin-top: 15px;

				@media (max-width: 991.98px) {
					margin-top: 10px;
				}
			}

			.form {
				margin-top: 20px;

				@media (max-width: 991.98px) {
					margin-top: 15px;
				}
			}

			.rs-input {
				background-color: #f3f6ff;
			}

			textarea.rs-input {
				min-height: 147px;
			}
		}
	}

	&__bottom {
		position: relative;
		height: 520px;
		border-radius: 15px;
		overflow: hidden;
		box-shadow: 9px 11px 29px 0 rgba(125, 138, 152, 0.15);
		background: rgba(255, 255, 255, 0);
		margin-top: 80px;

		@media (max-width: 991.98px) {
			margin: 50px 0px;
			height: 300px;
		}
	}
}
