.rs-form {
	// .rs-form__container
	&__container {
	}

	// .rs-form__form
	&__form {
	}
}

.form {
	// .form__block
	&__block {
	}

	// .form__row
	&__row {
		@media (min-width: 991.98px) {
			display: flex;
			justify-content: space-between;

			.form__line {
				flex: 1 1 33.33333%;

				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}
	}

	// .form__line
	&__line {
		width: 100%;
		position: relative;

		&._form-error {
		}

		&._form-right {
		}

		&._form-valid {
		}

		&._form-focus {
		}
	}

	&__error {
		margin: 5px;
		margin-left: 26px;
		color: #ff0000;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		text-align: left;
	}

	// .form__button
	&__button {
		min-width: 209px;
		max-width: 209px;

		@media (max-width: 767.98px) {
			min-width: 100%;
			max-width: 100%;
		}

		.rs-btn {
			width: 100%;
			padding-top: 19px;
			padding-bottom: 19px;
		}
	}

	// .form__agreement
	&__agreement {
		font-weight: 400;
		font-size: 12px;
		// line-height: 14px;
		line-height: 120%;
		color: var(--text-color);
		margin-top: 26px;

		a {
			text-decoration: underline;
			text-underline-offset: 2px;
			text-decoration-skip-ink: none;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.rs-input {
	outline: none;
	width: 100%;
	transition: 0.3s ease 0s;
	transition-property: background-color, border-color;

	border-radius: 50px;
	padding: 22.5px 26px;
	background-color: #fff;
	font-weight: 500;
	font-size: 16px;
	// line-height: 19px;
	line-height: 120%;
	color: var(--font-color);

	&::placeholder {
		color: var(--text-color);
	}

	&._form-focus {
	}

	&._form-error {
	}

	&._form-right {
	}
}
