.rs-gallery {
	overflow: hidden;

	// .rs-gallery__container
	&__container {
	}

	// .rs-gallery__slider
	&__slider {
		overflow: visible;
	}

	// .rs-gallery__swiper
	&__swiper {
		@media (min-width: 991.98px) {
			width: auto;
			display: flex;
			flex-wrap: wrap;
			margin: -15px;
			transform: translate(0, 0) !important;

			@media (max-width: 1439.98px) {
				margin: -10px;
			}

			@media (max-width: 1169.98px) {
				margin: -7.5px;
			}
		}
	}

	// .rs-gallery__slide
	&__slide {
		min-height: 1px;
		height: auto;

		@media (min-width: 991.98px) {
			padding: 15px;
			width: auto !important;
			margin: 0px !important;

			@media (max-width: 1439.98px) {
				padding: 10px;
			}

			@media (max-width: 1169.98px) {
				padding: 7.5px;
			}

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				flex: 0 0 calc(100% / 3);
				max-height: calc(487px + (15px * 2));

				@media (max-width: 1439.98px) {
					max-height: calc(487px + (10px * 2));
				}

				@media (max-width: 1169.98px) {
					max-height: calc(487px + (7.5px * 2));
				}

				.rs-gallery__img {
					max-height: 487px;

					img {
						max-height: 487px;
					}
				}
			}

			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				flex: 0 0 calc(100% / 4);
				max-height: calc(357px + (15px * 2));

				@media (max-width: 1439.98px) {
					max-height: calc(357px + (10px * 2));
				}

				@media (max-width: 1169.98px) {
					max-height: calc(357px + (7.5px * 2));
				}

				.rs-gallery__img {
					max-height: 357px;

					img {
						max-height: 357px;
					}
				}
			}

			&:nth-child(8),
			&:nth-child(9),
			&:nth-child(10),
			&:nth-child(11),
			&:nth-child(12) {
				flex: 0 0 calc(100% / 5);
				max-height: calc(280px + (15px * 2));

				@media (max-width: 1439.98px) {
					max-height: calc(280px + (10px * 2));
				}

				@media (max-width: 1169.98px) {
					max-height: calc(280px + (7.5px * 2));
				}

				.rs-gallery__img {
					max-height: 280px;

					img {
						max-height: 280px;
					}
				}
			}

			&:nth-child(13),
			&:nth-child(14),
			&:nth-child(15),
			&:nth-child(16),
			&:nth-child(17),
			&:nth-child(18) {
				flex: 0 0 calc(100% / 6);
				max-height: calc(228px + (15px * 2));

				@media (max-width: 1439.98px) {
					max-height: calc(228px + (10px * 2));
				}

				@media (max-width: 1169.98px) {
					max-height: calc(228px + (7.5px * 2));
				}

				.rs-gallery__img {
					max-height: 228px;

					img {
						max-height: 228px;
					}
				}
			}

			.rs-video & {
				&:nth-child(1),
				&:nth-child(2) {
					flex: 0 0 calc(100% / 2);
					max-height: calc(400px + (15px * 2));

					@media (max-width: 1439.98px) {
						max-height: calc(400px + (10px * 2));
					}

					@media (max-width: 1169.98px) {
						max-height: calc(400px + (7.5px * 2));
					}

					.rs-gallery__img {
						padding-bottom: 0%;
						max-height: 400px;

						img {
							position: relative;
							top: 0;
							left: 0;
							max-height: 400px;
						}
					}
				}

				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					flex: 0 0 calc(100% / 3);
					max-height: calc(400px + (15px * 2));

					@media (max-width: 1439.98px) {
						max-height: calc(400px + (10px * 2));
					}

					@media (max-width: 1169.98px) {
						max-height: calc(400px + (7.5px * 2));
					}

					.rs-gallery__img {
						padding-bottom: 0%;
						max-height: 400px;

						img {
							position: relative;
							top: 0;
							left: 0;
							max-height: 400px;
						}
					}
				}
			}
		}
	}
}
