.rs-news {
	overflow: hidden;

	// .rs-news__container
	&__container {
	}

	// .rs-news__slider
	&__slider {
		margin: -15px;
		padding: 15px;

		@media (max-width: 991.98px) {
			overflow: visible;
		}
	}

	// .rs-news__swiper
	&__swiper {
	}

	// .rs-news__slide
	&__slide {
	}
}

@import '../components/news-components';
