.rs-product-slider {
	// .rs-product-slider__container
	&__container {
	}

	// .rs-product-slider__slider
	&__slider {
		@media (max-width: 991.98px) {
			overflow: visible;
		}
	}

	// .rs-product-slider__swiper
	&__swiper {
	}

	// .rs-product-slider__slide
	&__slide {
	}

	// .rs-product-slider__action
	&__action {
	}

	// .rs-product-slider__pagination
	&__pagination {
	}

	// .rs-product-slider__navigation
	&__navigation {
	}

	// .rs-product-slider__button-prev
	&__button-prev {
	}

	// .rs-product-slider__button-next
	&__button-next {
	}
}

.rs-product {
	padding: 14px;
	border: 1px solid #d6dbe0;
	border-radius: 15px;
	background: #fff;

	@media (max-width: 991.98px) {
		padding: 12px;
	}

	// .rs-product__img
	&__img {
		border-radius: 10px;
		padding-bottom: 100%;
		position: relative;
		overflow: hidden;
		background: #f3f6ff;

		// .rs-product__img_slider
		&_slider {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		// .rs-product__img_swiper
		&_swiper {
		}

		// .rs-product__img_slide
		&_slide {
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.swiper-horizontal > .swiper-pagination-bullets,
		.swiper-pagination-bullets.swiper-pagination-horizontal,
		.swiper-pagination-custom,
		.swiper-pagination-fraction {
			position: absolute;
			bottom: 2px;
			margin: 0px;
			width: 100%;
			text-align: center;
		}

		.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
		.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
			margin: 0 1px;
		}

		.swiper-pagination-bullet {
			background-color: #d6dbe0;

			@media (any-hover: hover) {
				&:hover {
					background-color: var(--primary-color);
				}
			}
		}

		.swiper-pagination-bullet-active {
			background-color: var(--primary-color);
			width: 5px;
		}

		// .rs-product__img_labels
		&_labels {
			position: absolute;
			top: 0;
			left: 0;
			padding: 6px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 2px;
			max-width: calc(100% - 36px);
			z-index: 10;
		}

		// .rs-product__img_label
		&_label {
			border-radius: 2px;
			padding: 3px 4px;
			font-weight: 600;
			font-size: 12px;
			// line-height: 13px;
			line-height: 110%;
			letter-spacing: -0.01em;
			text-transform: uppercase;
			color: #fff;

			@media (max-width: 767.98px) {
				font-size: 11px;
			}

			&._green {
				background: #68d97a;
			}

			&._red {
				background: #ff6565;
			}
		}

		// .rs-product__img_actions
		&_actions {
			position: absolute;
			right: 0;
			top: 0;
			padding: 8px;
			z-index: 10;

			ul {
				li {
					&:not(:last-child) {
						margin-bottom: 10px;
					}

					a {
						svg {
							width: 20px;
							height: 20px;

							@media (max-width: 991.98px) {
								width: 18px;
								height: 18px;
							}

							@media (max-width: 767.98px) {
								width: 16px;
								height: 16px;
							}

							path {
								transition: all 0.3s ease 0s;
							}
						}

						&.fav {
							@media (any-hover: hover) {
								&:hover {
									svg {
										path {
											fill: red;
											stroke: red;
										}
									}
								}
							}
						}
						&.compare {
							@media (any-hover: hover) {
								&:hover {
									svg {
										path {
											fill: blue;
											stroke: blue;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// .rs-product__desc
	&__desc {
		margin-top: 13px;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	// .rs-product__body
	&__body {
		h5 {
			font-size: 16px;
			// line-height: 21px;
			line-height: 130%;

			@media (max-width: 991.98px) {
				font-size: 13px;
			}
		}
	}

	// .rs-product__article
	&__article {
		font-weight: 600;
		font-size: 14px;
		// line-height: 17px;
		line-height: 120%;
		color: #697488;
		margin-bottom: 2px;

		@media (max-width: 991.98px) {
			font-size: 11px;
		}
	}

	// .rs-product__footer
	&__footer {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.rs-btn {
			padding: 6px 18px;
		}
	}

	// .rs-product__prices
	&__prices {
	}

	// .rs-product__price
	&__price {
		font-weight: 600;
		line-height: 120%;

		&._old {
			font-size: 13px;
			text-decoration: line-through;
			color: #697488;

			@media (max-width: 991.98px) {
				font-size: 11px;
			}
		}

		&._new {
			font-size: 18px;

			@media (max-width: 991.98px) {
				font-size: 14px;
			}
		}
	}
}
