.rs-product-slider {
	@media (max-width: 991.98px) {
		overflow: hidden;
	}

	.section-header {
		& > .rs-btn {
			@media (max-width: 991.98px) and (min-width: 767.98px) {
				display: flex;
			}
		}
	}

	.section-footer {
		@media (max-width: 991.98px) and (min-width: 767.98px) {
			display: none;
		}
	}

	// .rs-product-slider__container
	&__container {
	}

	// .rs-product-slider__slider
	&__slider {
		@media (max-width: 991.98px) {
			overflow: visible;
		}
	}

	// .rs-product-slider__swiper
	&__swiper {
	}

	// .rs-product-slider__slide
	&__slide {
	}

	// .rs-product-slider__action
	&__action {
	}

	// .rs-product-slider__pagination
	&__pagination {
	}

	// .rs-product-slider__navigation
	&__navigation {
	}

	// .rs-product-slider__button-prev
	&__button-prev {
	}

	// .rs-product-slider__button-next
	&__button-next {
	}
}

@import "../components/product-components";
