.rs-reviews {
	overflow: hidden;

	// .rs-reviews__container
	&__container {
		.section-footer {
			@media (max-width: 991.98px) {
				display: none;
			}
		}

		.section-header {
			&__title {
				p {
					@media (max-width: 991.98px) {
						display: none;
					}
				}
			}
		}
	}

	// .rs-reviews__slider
	&__slider {
		overflow: visible;
	}

	// .rs-reviews__swiper
	&__swiper {
	}

	// .rs-reviews__slide
	&__slide {
		min-height: 1px;
		height: auto;
	}
}
