.rs-services {
	margin-top: 0px;
	// .rs-services__container
	&__container {
	}

	// .rs-services__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: flex;
			align-items: flex-start;
		}
	}

	// .rs-services__sidebar
	&__sidebar {
		width: 100%;
		max-width: 300px;
		margin-right: 30px;

		@media (max-width: 1439.98px) {
			max-width: 200px;
			margin-right: 20px;
		}

		@media (max-width: 991.98px) {
			max-width: 100%;
			margin-right: 0px;
		}
	}

	// .rs-services__spollers
	&__spollers {
		border: 1px solid #e2e5f1;
		border-radius: 4px;

		@media (max-width: 991.98px) {
			border-radius: 15px;
		}

		// .rs-services__spollers_item
		&_item {
			padding: 7px 6px;

			&:not(:last-child) {
				border-bottom: 1px solid #d6dbe0;
			}
		}

		// .rs-services__spollers_title
		&_title {
			padding: 12px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			text-align: left;
			border-radius: 5px;
			transition: all 0.3s ease 0s;
			font-weight: 600;
			font-size: 16px;
			// line-height: 26px;
			line-height: 160%;
			color: var(--font-color);

			@media (any-hover: hover) {
				&:hover {
					background-color: #f2f4f9;
					color: var(--primary-color);
				}
			}

			&::after {
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				background-image: url("../../img/icons/caret-arrow-down.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transition: transform 0.3s ease 0s;
			}

			&._spoller-active {
				background-color: #f2f4f9;
				color: var(--primary-color);

				&::after {
					transform: rotate(180deg);
				}
			}

			@media (max-width: 991.98px) {
				font-size: 14px;
				padding: 6px 12px;
			}

			@media (max-width: 767.98px) {
				font-size: 13px;
				padding: 9px 12px;
			}

			&._spoller-active {
			}
		}

		// .rs-services__spollers_body
		&_body {
			padding: 10px 12px 12px;

			ul {
				li {
					font-weight: 400;
					font-size: 16px;
					// line-height: 26px;
					line-height: 160%;
					color: #383b56;

					@media (max-width: 767.98px) {
						font-size: 14px;
					}

					@media (max-width: 767.98px) {
						font-size: 13px;
					}

					&:not(:last-child) {
						margin-bottom: 10px;
					}

					a {
						display: flex;
					}
				}
			}
		}
	}

	// .rs-services__sub-spollers
	&__sub-spollers {
		// .rs-services__sub-spollers_item
		&_item {
		}

		// .rs-services__sub-spollers_title
		&_title {
			border: 1px solid #e2e5f1;
			border-radius: 15px;
			padding: 16px 18px;
			font-weight: 500;
			font-size: 14px;
			// line-height: 26px;
			line-height: 160%;
			color: #0b0f19;
			cursor: pointer;
			text-align: left;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&::after {
				content: "";
				display: block;
				width: 16px;
				height: 16px;
				background-image: url("../../img/icons/caret-arrow-down.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				transition: transform 0.3s ease 0s;
			}

			&._spoller-active {
				&::after {
					transform: rotate(180deg);
				}
			}

			@media (max-width: 767.98px) {
				font-size: 13px;
			}

			@media (min-width: 991.98px) {
				display: none;
			}
		}

		// .rs-services__sub-spollers_body
		&_body {
		}
	}

	// .rs-services__content
	&__content {
		@media (max-width: 991.98px) {
			margin-top: 24px;
		}

		@media (max-width: 767.98px) {
			margin-top: 16px;
		}
	}

	// .rs-services__body
	&__body {
		& > * {
			&:first-child {
				margin-top: 0px !important;
			}

			&:last-child {
				margin-bottom: 0px !important;
			}
		}

		h2 {
			margin-bottom: 20px;
		}

		p {
			margin: 10px 0px;
		}
	}

	.tabs {
		margin-top: 20px;

		// .tabs__navigation
		&__navigation {
			display: inline-flex;
			align-items: center;
			border: 1px solid #e2e5f1;
			border-radius: 5px;
			padding: 5px;

			@media (max-width: 991.98px) {
				display: none;
			}
		}

		// .tabs__title
		&__title {
			cursor: pointer;
			transition: all 0.3s ease 0s;
			text-align: left;

			@media (min-width: 991.98px) {
				padding: 6px 20px;
				border-radius: 5px;
				background: rgba(99, 102, 241, 0);
				font-weight: 600;
				font-size: 16px;
				// line-height: 26px;
				line-height: 160%;
				text-align: center;
				color: #383b56;

				@media (max-width: 1439.98px) {
					font-size: 14px;
					padding: 5px 15px;
				}

				&._tab-active {
					background: rgba(99, 102, 241, 0.2);
					color: var(--primary-color);
				}
			}

			@media (max-width: 991.98px) {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-weight: 500;
				font-size: 16px;
				// line-height: 19px;
				line-height: 120%;
				color: var(--font-color);
				border-radius: 8px;
				margin-top: 16px;
				border-radius: 10px;
				padding: 16px 24px;
				background: #f3f6ff;
				border: 1px solid #e2e5f1;

				&._tab-active {
					border-bottom: none;
					border-radius: 10px 10px 0px 0px;

					.tabs__icon {
						background-color: var(--primary-color);

						svg {
							transform: rotate(180deg);

							path {
								fill: #fff;
							}
						}
					}
				}
			}

			@media (max-width: 767.98px) {
				font-size: 14px;
				padding: 16px;
			}
		}

		&__icon {
			width: 36px;
			height: 36px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			border-radius: 50%;
			transition: background-color 0.3s ease 0s;

			@media (min-width: 991.98px) {
				display: none;
			}

			svg {
				transition: transform 0.3s ease 0s;

				path {
					transition: fill 0.3s ease 0s;
					fill: #9397ad;
				}
			}
		}

		// .tabs__content
		&__content {
			@media (min-width: 991.98px) {
				margin-top: 15px;
			}
		}

		// .tabs__body
		&__body {
			@media (max-width: 991.98px) {
				padding: 24px;
				border: 1px solid #e2e5f1;
				border-top: none;
				border-radius: 0px 0px 10px 10px;
			}

			@media (max-width: 767.98px) {
				padding: 16px;
			}

			& > * {
				&:first-child {
					margin-top: 0px !important;
				}

				&:last-child {
					margin-bottom: 0px !important;
				}
			}
		}
	}
}
