.rs-slider-block {
	overflow: hidden;

	&.rs-albom {
		padding-top: 0px;
	}

	// .rs-slider-block__block
	&__block {
	}

	// .rs-slider-block__container
	&__container {
	}

	// .rs-slider-block__slider
	&__slider {
		@media (max-width: 991.98px) {
			overflow: visible;
		}
	}

	// .rs-slider-block__swiper
	&__swiper {
	}

	// .rs-slider-block__slide
	&__slide {
		min-height: 1px;
		height: auto;
		max-height: 415px;
	}

	// .rs-slider-block__item
	&__item {
		position: relative;
		width: 100%;
		height: 100%;
		max-height: 415px;
		border-radius: 10px;

		.rs-albom & {
			@media (any-hover: hover) {
				&:hover {
					.rs-slider-block__desc {
						transform: translateY(0%);

						p,
						ul,
						.rs-btn {
							opacity: 1;
							visibility: visible;
							transition: all 0.3s ease 0.3s;
						}
					}
				}
			}
		}
	}

	// .rs-slider-block__img
	&__img {
		position: relative;
		z-index: 0;
		overflow: hidden;
		border-radius: 10px;
		width: 100%;
		max-height: 415px;
		height: 100%;

		@media (min-width: 991.98px) {
			padding-bottom: 115.28%;
		}

		img {
			width: 100%;
			height: 100%;
			max-height: 415px;
			object-fit: cover;

			@media (min-width: 991.98px) {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&__desc {
		position: absolute;
		z-index: 2;
		width: 100%;
		padding: 20px 30px;
		color: #fff;
		bottom: 0;
		left: 0;

		.rs-albom & {
			transform: translateY(72%);
			transition: transform 0.3s ease 0s;

			p,
			ul,
			.rs-btn {
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease 0s;
			}
		}

		p {
			margin-top: 8px;
		}

		.rs-btn {
			margin-top: 20px;
		}
	}
}
