.rs-text-block {
	&.rs-about {
		margin-top: 0px;
	}

	// .rs-text-block__container
	&__container {
	}

	// .rs-text-block__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin: -15px;

		@media (max-width: 991.98px) {
			margin: -8px;
			flex-direction: column;
		}
	}

	// .rs-text-block__item
	&__item {
		flex: 0 0 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 15px;

		@media (max-width: 991.98px) {
			flex: 1 1 100%;
			padding: 8px;
			order: 2;
		}

		&-desc {
			max-width: calc(695px + (15px * 2));

			@media (max-width: 991.98px) {
				max-width: 100%;
				order: 1;
			}

			.rs-about & {
				max-width: 100%;
			}
		}
	}

	// .rs-text-block__desc
	&__desc {
		@media (max-width: 991.98px) {
			order: 1;
		}

		& > * {
			&:first-child {
				margin-top: 0px !important;
			}

			&:last-child {
				margin-bottom: 0px !important;
			}
		}

		h2 {
			margin-bottom: 8px;

			@media (max-width: 991.98px) {
				margin-bottom: 12px;
			}
		}

		p {
			margin-bottom: 20px;

			@media (max-width: 991.98px) {
				margin-bottom: 8px;
			}
		}

		h5 {
			margin-top: 20px;
			margin-bottom: 5px;

			@media (max-width: 991.98px) {
				margin-top: 8px;
				margin-bottom: 3px;
			}

			@media (max-width: 767.98px) {
				margin-top: 10px;
			}
		}

		ul {
			li {
				position: relative;
				padding-left: 24px;

				@media (max-width: 767.98px) {
					padding-left: 22px;
				}

				&::before {
					content: "";
					// position: relative;
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					// background-image: url("../img/icons/check.svg")
					// background-color: transparent;
					// color: var(--primary-color);
					// background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3e%3cpath d='M8.33984 0C7.19401 0 6.11328 0.221354 5.09766 0.664062C4.08203 1.09375 3.19661 1.6862 2.44141 2.44141C1.6862 3.19661 1.09375 4.08203 0.664062 5.09766C0.221354 6.11328 0 7.19401 0 8.33984C0 9.48568 0.221354 10.5664 0.664062 11.582C1.09375 12.5977 1.6862 13.4831 2.44141 14.2383C3.19661 14.9935 4.08203 15.5859 5.09766 16.0156C6.11328 16.4583 7.19401 16.6797 8.33984 16.6797C9.48568 16.6797 10.5664 16.4583 11.582 16.0156C12.5977 15.5859 13.4831 14.9935 14.2383 14.2383C14.9935 13.4831 15.5859 12.5977 16.0156 11.582C16.4583 10.5664 16.6797 9.48568 16.6797 8.33984C16.6797 7.19401 16.4583 6.11328 16.0156 5.09766C15.5859 4.08203 14.9935 3.19661 14.2383 2.44141C13.4831 1.6862 12.5977 1.09375 11.582 0.664062C10.5664 0.221354 9.48568 0 8.33984 0ZM8.33984 15C7.41536 15 6.54948 14.8242 5.74219 14.4727C4.9349 14.1341 4.22852 13.6621 3.62305 13.0566C3.01758 12.4512 2.54557 11.7448 2.20703 10.9375C1.85547 10.1302 1.67969 9.26432 1.67969 8.33984C1.67969 7.41536 1.85547 6.54948 2.20703 5.74219C2.54557 4.9349 3.01758 4.22852 3.62305 3.62305C4.22852 3.01758 4.9349 2.54557 5.74219 2.20703C6.54948 1.85547 7.41536 1.67969 8.33984 1.67969C9.26432 1.67969 10.1302 1.85547 10.9375 2.20703C11.7448 2.54557 12.4512 3.01758 13.0566 3.62305C13.6621 4.22852 14.1341 4.9349 14.4727 5.74219C14.8242 6.54948 15 7.41536 15 8.33984C15 9.26432 14.8242 10.1302 14.4727 10.9375C14.1341 11.7448 13.6621 12.4512 13.0566 13.0566C12.4512 13.6621 11.7448 14.1341 10.9375 14.4727C10.1302 14.8242 9.26432 15 8.33984 15ZM6.67969 9.66797L4.76562 7.75391L3.57422 8.92578L6.67969 12.0117L12.2656 6.42578L11.0938 5.25391L6.67969 9.66797Z' fill='currentColor'/%3e%3c/svg%3e");
					// background-repeat: no-repeat;
					// background-position: center;
					// background-size: contain;
					background-color: var(--primary-color); // Задаем цвет через background-color
					mask-image: url("../img/icons/check.svg");
					mask-repeat: no-repeat;
					mask-position: center;
					mask-size: contain;
					min-width: 16px;
					max-width: 16px;
					height: 16px;
					margin-top: 4px;
					margin-right: 8px;

					@media (max-width: 1169.98px) {
						margin-top: 2px;
					}

					@media (max-width: 767.98px) {
						min-width: 14px;
						max-width: 14px;
						height: 14px;
					}
				}
			}
		}

		ol {
			counter-reset: li;

			li {
				list-style: none;
				padding-left: 0px;

				&::before {
					counter-increment: li;
					content: counter(li, decimal-leading-zero) ". ";
					color: var(--primary-color);
					font-weight: 500;
					margin-right: 5px;
				}
			}
		}

		ul,
		ol {
			margin: 3px 0px;

			&[data-column="2"] {
				display: flex;
				flex-wrap: wrap;
				gap: 3px 30px;

				@media (max-width: 991.98px) {
					flex-direction: column;
					margin: 0;
				}

				li {
					flex: 0 0 calc(50% - 15px);
					margin: 0;

					@media (max-width: 991.98px) {
						flex: 0 0 100%;

						&:not(:last-child) {
							margin-bottom: 3px;
						}
					}
				}
			}

			li {
				// display: inline-flex;
				// align-items: flex-start;
				font-weight: 400;
				font-size: 16px;
				// line-height: 26px;
				line-height: 160%;
				color: #383b56;

				@media (max-width: 1439.98px) {
					font-size: 14px;
				}

				@media (max-width: 767.98px) {
					font-size: 13px;
				}

				&:not(:last-child) {
					margin-bottom: 3px;

					@media (max-width: 767.98px) {
						margin-bottom: 4px;
					}
				}
			}
		}

		blockquote {
			margin: 16px 0px;

			@media (max-width: 991.98px) {
				margin: 6px 0px;
			}
		}

		.rs-btn {
			margin-top: 12px;

			@media (max-width: 991.98px) {
				margin-top: 10px;
			}

			@media (max-width: 767.98px) {
				width: 100%;
			}
		}
	}

	&__picture {
		width: 100%;
		height: 100%;
		position: relative;
	}

	&__label {
		bottom: 27px;
		right: 27px;
		position: absolute;
		border: 0.75px solid #d4d7e5;
		background-color: #fff;
		border-radius: 38px;
		padding: 11px 15px;
		font-weight: 600;
		font-size: 14px;
		// line-height: 22px;
		line-height: 160%;
		text-align: center;
		color: #000;

		@media (max-width: 991.98px) {
			font-weight: 500;
		}

		@media (max-width: 767.98px) {
			bottom: 10px;
			right: 10px;
			padding: 6px 9px;
			font-size: 11px;
		}
	}

	// .rs-text-block__img
	&__img {
		width: 100%;
		height: 100%;
		border-radius: 15px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
