.rs-table {
	// .rs-table__container
	&__container {
	}

	// .rs-table__block
	&__block {
		@media (max-width: 767.98px) {
			overflow: auto;

			&::-webkit-scrollbar {
				width: 3px;
				height: 3px;
			}
		}

		table {
			width: 100%;
			border-collapse: unset;
			border-spacing: unset;
			table-layout: auto;

			@media (max-width: 767.98px) {
				min-width: 500px;
			}

			th,
			td {
				padding: 14.3px 20px;
				font-size: 16px;
				// line-height: 26px;
				line-height: 160%;
				color: #565973;
				text-align: left;

				@media (max-width: 1439.98px) {
					padding: 12px 16px;
					font-size: 13px;
				}

				&:first-child {
					@media (min-width: 1439.98px) {
						width: 924px;
					}
				}
			}

			thead {
				tr {
					th {
						font-weight: 600;
						border-right: 1px solid #d4d7e5;
						border-bottom: 1px solid #d4d7e5;
						border-top: 1px solid #d4d7e5;

						&:first-child {
							border-left: 1px solid #d4d7e5;
							border-radius: 10px 0px 0px 0px;
						}

						&:last-child {
							border-radius: 0px 10px 0px 0px;
						}
					}
				}
			}

			tbody {
				tr {
					td {
						font-weight: 400;
						border-right: 1px solid #d4d7e5;
						border-bottom: 1px solid #d4d7e5;

						&:first-child {
							border-left: 1px solid #d4d7e5;
						}
					}

					&:nth-child(odd) {
						td {
							background: #f5f7fe;
						}
					}

					&:last-child {
						td {
							&:first-child {
								border-radius: 0px 0px 0px 10px;
							}

							&:last-child {
								border-radius: 0px 0px 10px 0px;
							}
						}
					}
				}
			}
		}
	}
}
