.rs-tariff {
	.tooltip {
		@media (max-width: 1439.98px) and (min-width: 991.98px) {
			&:hover {
				.tooltip__modal {
					&._arrow-top {
						animation: shakeRight 500ms ease-in-out forwards;
					}
				}
			}
		}

		// .range__tooltip_modal
		&__modal {
			@media (max-width: 1439.98px) and (min-width: 991.98px) {
				&._arrow-top {
					right: calc(100% + 12px);
					left: auto;
					bottom: auto;
					top: 50%;
					transform: translateY(-50%);

					&::before {
						right: auto;
						left: 100%;
						bottom: auto;
						top: 50%;
						transform: translateY(-50%) rotate(180deg);
					}
				}
			}
		}
	}

	// .rs-tariff__container
	&__container {
	}

	// .rs-tariff__desktop
	&__desktop {
		@media (max-width: 991.98px) {
			display: none;
		}
	}

	// .rs-tariff__top
	&__top {
		display: flex;
	}

	// .rs-tariff__title
	&__title {
		flex-grow: 1;
		min-width: 200px;
		padding-right: 15px;
		flex: 1 1 auto;
		width: 100%;

		p {
			margin-top: 13px;
		}
	}

	// .rs-tariff__head
	&__head {
		margin-left: 15px;
		flex: 1 1 47%;
		min-height: 137px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		padding: 30px 15px;
		margin-left: 15px;
		border-radius: 15px 15px 0px 0px;
		background: #f3f6ff;

		@media (max-width: 1439.98px) {
			padding: 20px 10px;
			max-width: 200px;
			min-height: 100px;
		}

		h5 {
			&:first-child {
				color: var(--primary-color);
			}
		}

		&_desc {
			margin-top: 5px;
			display: flex;
			align-items: center;

			p {
				margin-right: 5px;
			}
		}
	}

	// .rs-tariff__body
	&__body {
	}

	// .rs-tariff__about
	&__about {
		position: relative;

		// .rs-tariff__about_row
		&_row {
			display: flex;
			position: relative;
			z-index: 10;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #e2e5f1;
				z-index: 1;
			}

			&:last-child {
				& > * {
					border-radius: 0px 0px 10px 10px;
				}
			}
		}

		// .rs-tariff__about_item
		&_item {
			margin-left: 15px;
			flex: 1 1 47%;
			width: 100%;
			position: relative;
			vertical-align: middle;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			background: #f3f6ff;
			padding: 19.9px 15px;

			@media (max-width: 1439.98px) {
				padding: 15px 10px;
				max-width: 200px;
			}

			&:first-child {
				max-width: 100%;
				min-width: 200px;
				flex: 1 1 auto;
				margin-left: 0px;
				padding-left: 0px;
				padding-right: 15px;
				text-align: left;
				align-items: flex-start;
				background-color: transparent;
			}
		}
	}

	// .rs-tariff__mobile
	&__mobile {
		@media (min-width: 991.98px) {
			display: none;
		}
	}

	// .rs-tariff__spollers
	&__spollers {
		margin-top: 20px;

		// .rs-tariff__spollers_item
		&_item {
			padding: 20px 24px 12px 24px;
			border-radius: 10px;
			border: 1px solid #e2e5f1;

			@media (max-width: 767.98px) {
				padding: 16px 16px 13px;
			}

			&:not(:last-child) {
				margin-bottom: 16px;
			}
		}

		// .rs-tariff__spollers_head
		&_head {
			border-bottom: 1px solid #d4d7e5;
			padding: 0px 0px 20px 0px;

			h4 {
				color: var(--primary-color);
			}

			h5 {
				margin-top: 5px;
				font-size: 16px;
			}

			&-desc {
				margin-top: 5px;
				display: flex;
				align-items: center;

				p {
					margin-right: 5px;
				}
			}
		}

		// .rs-tariff__spollers_body
		&_body {
			padding-top: 13px;

			ul {
				li {
					display: flex;
					font-weight: 400;
					font-size: 14px;
					// line-height: 22px;
					line-height: 160%;
					color: #383b56;

					@media (max-width: 767.98px) {
						font-size: 13px;
					}

					&:not(:last-child) {
						margin-bottom: 3px;
					}

					&::before {
						content: "";
						margin-top: 4px;
						margin-right: 8px;
						display: inline-block;
						min-width: 16px;
						min-height: 16px;
						max-width: 16px;
						max-height: 16px;
						margin-right: 9px;
						background-image: url("../img/icons/tariff_check-icon.svg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;

						@media (max-width: 767.98px) {
							min-width: 14px;
							min-height: 14px;
							max-width: 14px;
							max-height: 14px;
							margin-right: 8px;
						}
					}
				}
			}
		}

		// .rs-tariff__spollers_footer
		&_footer {
			padding-top: 13px;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.rs-btn {
				padding: 10px 18px;

				@media (max-width: 767.98px) {
					padding: 8px 16px;
				}
			}
		}

		// .rs-tariff__spollers_title
		&_title {
			flex-grow: 1;
			font-weight: 400;
			font-size: 14px;
			// line-height: 22px;
			line-height: 160%;
			color: #0b0f19;
			display: flex;
			align-items: center;

			@media (max-width: 767.98px) {
				font-size: 13px;
			}

			&::before {
				content: "";
				display: block;
				min-width: 20px;
				min-height: 20px;
				max-width: 20px;
				max-height: 20px;
				margin-right: 5px;
				background-image: url("../img/icons/tariff_desc-icon.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;

				@media (max-width: 767.98px) {
					min-width: 16px;
					min-height: 16px;
					max-width: 16px;
					max-height: 16px;
				}
			}
		}
	}
}
