.rs-breadcrumbs {
	position: relative;
	margin: 40px 0px;

	@media (max-width: 1439.98px) {
		margin: 20px 0px;
	}

	// .rs-breadcrumbs__container
	&__container {
		& > h1 {
			margin-top: 24px;
			font-weight: 600;
			font-size: 28px;
			// line-height: 34px;
			line-height: 140%;

			@media (max-width: 1439.98px) {
				font-size: 24px;
				margin-top: 20px;
			}

			@media (max-width: 1169.98px) {
				font-size: 20px;
				margin-top: 16px;
			}
		}
	}

	// .rs-breadcrumbs__navigation
	&__navigation {
	}

	// .rs-breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		li {
			font-weight: 600;
			font-size: 14px;
			// line-height: 20px;
			line-height: 140%;
			display: flex;
			align-items: center;
			color: #9397bf;

			& > a {
				display: flex;
				align-items: center;
				transition: all 0.3s ease 0s;
				// vladpipiska sosi pipisky ti moi lybimiu i love you bitch kurva matka cyka

				@media (any-hover: hover) {
					&:hover {
						color: var(--primary-color);
					}
				}
			}

			&:first-child {
				& > a {
					&::before {
						content: "";
						background-image: url("../img/icons/home.svg");
						background-position: center;
						background-size: contain;
						background-repeat: no-repeat;
						display: block;
						min-width: 17px;
						max-width: 17px;
						height: 17px;
						margin-right: 4px;
					}
				}
			}

			&:not(:last-child) {
				&::after {
					content: "";
					background-image: url("../img/icons/double-caret.svg");
					background-position: center;
					background-size: contain;
					background-repeat: no-repeat;
					display: block;
					min-width: 14px;
					max-width: 14px;
					height: 14px;
					margin: 0px 10px;
				}
			}
		}
	}
}
