.rs-breadcrumbs {
	position: relative;
	margin-top: 228px;
	margin-bottom: 20px;

	@media (max-width: 1699.98px) {
		margin-top: 150px;
	}

	@media (max-width: 1439.98px) {
		margin-top: 130px;
	}

	@media (max-width: 1169.98px) {
		margin-top: 100px;
	}

	// .rs-breadcrumbs__container
	&__container {
	}

	// .rs-breadcrumbs__navigation
	&__navigation {
	}

	// .rs-breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	// .rs-breadcrumbs__item
	&__item {
		color: #9d9d9d;
		font-size: 14px;
		font-style: normal;
		font-weight: 300;
		line-height: 22px; /* 157.143% */
	}

	// .rs-breadcrumbs__link
	&__link {
		transition: color 0.3s ease 0s;
		color: #7d879c;

		&::after {
			display: inline-block;
			content: "—";
			color: #9d9d9d;
			margin: 0 5px;
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--primary-color);
			}
		}
	}

	&__current {
		color: #9d9d9d;
	}
}
