section {
	margin: 80px 0px;
	position: relative;

	@media (max-width: 991.98px) {
		margin: 50px 0px;
	}
}

._blue-block {
	border-radius: 30px;
	padding: 80px 0px;
	background: #f3f6ff;

	@media (max-width: 991.98px) {
		padding: 50px 0px;
		border-radius: 15px;
	}
}

.section-header {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 991.98px) {
		margin-bottom: 16px;
	}

	// .section-header__title
	&__title {
		max-width: 745px;

		@media (max-width: 991.98px) {
			max-width: 100%;
		}

		p {
			margin-top: 12px;
		}
	}

	& > .rs-btn {
		@media (max-width: 991.98px) {
			display: none;
		}
	}
}

.section-footer {
	margin-top: 16px;

	@media (min-width: 991.98px) {
		display: none;
	}

	@media (max-width: 767.98px) {
		width: 100%;

		.rs-btn {
			width: 100%;
		}
	}
}

// Text ========================================================================================================================================================
h1 {
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%; /* 44px */

	@media (max-width: 1439.98px) {
		font-size: 30px;
	}

	@media (max-width: 991.98px) {
		font-size: 24px;
	}

	@media (max-width: 767.98px) {
		font-size: 22px;
	}
}

h2 {
	font-weight: 500;
	font-size: 36px;
	// line-height: 40px;
	line-height: 110%;

	@media (max-width: 1439.98px) {
		font-size: 28px;
	}

	@media (max-width: 991.98px) {
		font-size: 22px;
	}

	@media (max-width: 767.98px) {
		font-size: 20px;
	}
}

h3 {
}

h4 {
	font-weight: 600;
	font-size: 20px;
	// line-height: 28px;
	line-height: 140%;

	@media (max-width: 1439.98px) {
		font-size: 18px;
	}
}

h5 {
	font-weight: 500;
	font-size: 18px;
	// line-height: 22px;
	line-height: 120%;

	@media (max-width: 1439.98px) {
		font-size: 16px;
	}

	@media (max-width: 767.98px) {
		font-size: 14px;
	}
}

h6 {
}

p {
	font-weight: 400;
	font-size: 16px;
	// line-height: 26px;
	line-height: 160%;

	@media (max-width: 1439.98px) {
		font-size: 14px;
	}

	@media (max-width: 767.98px) {
		font-size: 13px;
	}
}

// Button ========================================================================================================================================================
.rs-btn {
	position: relative;
	overflow: hidden;
	-webkit-appearance: button;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease 0s;

	font-variant-numeric: lining-nums proportional-nums;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%; /* 25.6px */
	padding: 12px 24px;
	border-radius: 50px;

	@media (max-width: 1569.98px) {
		font-size: 13px;
		padding: 12px 20px;
	}

	@media (max-width: 991.98px) {
		padding: 13px 20px;
		font-size: 14px;
	}

	@media (max-width: 767.98px) {
		font-size: 13px;
		padding: 12px 16px;
	}

	&._btn-primary {
		color: #fff;
		background-color: var(--primary-color);

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary-hover);
			}
		}
	}

	&._btn-white {
		color: var(--font-color);
		background-color: #fff;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: var(--primary-hover);
			}
		}
	}

	&._btn-primary-img {
		padding-left: 14px;
	}

	&._btn-border-black {
		border: 1px solid var(--text-color);
		background-color: transparent;
		color: var(--font-color);
		padding: 11px 23px;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: var(--primary-color);
				border-color: var(--primary-color);
			}
		}
	}

	&._btn-border-white {
		border: 1px solid #fff;
		background-color: transparent;
		color: #fff;
		padding: 11px 23px;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: var(--primary-color);
				border-color: var(--primary-color);
			}
		}
	}

	svg,
	img {
		margin-right: 7px;
		min-width: 24px;
		max-width: 24px;
		height: 24px;
		object-fit: contain;
	}
}

.form {
	// .form__block
	&__block {
	}

	// .form__row
	&__row {
		@media (min-width: 991.98px) {
			display: flex;
			justify-content: space-between;

			.form__line {
				flex: 1 1 33.33333%;

				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}
	}

	// .form__line
	&__line {
		width: 100%;
		position: relative;

		@media (max-width: 991.98px) {
			margin-bottom: 10px;
		}

		&._form-error {
		}

		&._form-right {
		}

		&._form-valid {
		}

		&._form-focus {
		}
	}

	&__error {
		margin: 5px;
		margin-left: 26px;
		color: #ff0000;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%;
		text-align: left;
	}

	// .form__button
	&__button {
		@media (min-width: 991.98px) {
			margin-left: 20px;
			min-width: 209px;
			max-width: 209px;

			.rs-btn {
				padding-top: 19px;
				padding-bottom: 19px;
			}
		}

		@media (max-width: 991.98px) {
			margin-top: 24px;
		}

		.rs-btn {
			width: 100%;
		}
	}

	// .form__agreement
	&__agreement {
		font-weight: 400;
		font-size: 12px;
		// line-height: 14px;
		line-height: 120%;
		color: var(--text-color);
		margin-top: 26px;

		@media (min-width: 991.98px) {
			margin-top: 16px;
		}

		a {
			text-decoration: underline;
			text-underline-offset: 2px;
			text-decoration-skip-ink: none;

			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.rs-input {
	outline: none;
	width: 100%;
	transition: 0.3s ease 0s;
	transition-property: background-color, border-color;

	border-radius: 50px;
	padding: 22.5px 26px;
	background-color: #fff;
	font-weight: 500;
	font-size: 16px;
	// line-height: 19px;
	line-height: 120%;
	color: var(--font-color);

	@media (max-width: 991.98px) {
		font-size: 15px;
		padding: 19px 26px;
	}

	@media (max-width: 767.98px) {
		font-size: 14px;
	}

	&::placeholder {
		color: var(--text-color);
	}

	&._form-focus {
	}

	&._form-error {
	}

	&._form-right {
	}
}

// Block  ========================================================================================================================================================
