section {
	margin: 80px 0px;
	position: relative;
}

.section-header {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	// .section-header__title
	&__title {
		max-width: 745px;

		p {
			margin-top: 10px;
		}
	}
}

.section-footer {
	margin-top: 16px;

	@media (min-width: 991.98px) {
		display: none;
	}
}

// Text ========================================================================================================================================================
h1 {
	font-size: 40px;
	font-style: normal;
	font-weight: 500;
	line-height: 110%; /* 44px */
}

h2 {
	font-weight: 500;
	font-size: 36px;
	// line-height: 40px;
	line-height: 110%;
}

h3 {
}

h4 {
	font-weight: 600;
	font-size: 20px;
	// line-height: 28px;
	line-height: 140%;
}

h5 {
	font-weight: 500;
	font-size: 18px;
	// line-height: 22px;
	line-height: 120%;
}

h6 {
}

p {
	font-weight: 400;
	font-size: 16px;
	// line-height: 26px;
	line-height: 160%;
}

// Button ========================================================================================================================================================
.rs-btn {
	position: relative;
	overflow: hidden;
	-webkit-appearance: button;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease 0s;

	font-variant-numeric: lining-nums proportional-nums;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%; /* 25.6px */
	padding: 12px 24px;
	border-radius: 50px;

	@media (max-width: 1569.98px) {
		font-size: 13px;
		padding: 12px 20px;
	}

	&._btn-primary {
		color: #fff;
		background-color: var(--primary-color);

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary-hover);
			}
		}
	}

	&._btn-white {
		color: var(--font-color);
		background-color: #fff;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: var(--primary-hover);
			}
		}
	}

	&._btn-primary-img {
		padding-left: 14px;
	}

	&._btn-border-black {
		border: 1px solid var(--text-color);
		background-color: transparent;
		color: var(--font-color);
		padding: 11px 23px;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: var(--primary-color);
				border-color: var(--primary-color);
			}
		}
	}

	&._btn-border-white {
		border: 1px solid #fff;
		background-color: transparent;
		color: #fff;
		padding: 11px 23px;

		@media (any-hover: hover) {
			&:hover {
				color: #fff;
				background-color: var(--primary-color);
				border-color: var(--primary-color);
			}
		}
	}

	svg,
	img {
		margin-right: 7px;
		min-width: 24px;
		max-width: 24px;
		height: 24px;
		object-fit: contain;
	}
}

.rs-input {
	outline: none;
	width: 100%;
	transition: 0.3s ease 0s;
	transition-property: background-color, border-color;
	border-radius: 50px;
	border: 1px solid #ddd;
	padding: 16px 24px;
	color: #000;
	font-size: 14px;
	font-style: normal;
	font-weight: 250;
	line-height: 18px; /* 128.571% */

	&::placeholder {
		color: #7a7a7a;
	}

	&._form-focus {
	}

	&._form-error {
	}

	&._form-right {
	}
}

textarea.rs-input {
	resize: vertical;
	min-height: 110px;
	border-radius: 20px;
}

// Block  ========================================================================================================================================================
