.swiper {
	overflow: hidden;
}

.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}

.swiper-grid > .swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}

.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}

.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-prev,
.swiper-button-next {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}

	&::after {
		font-size: 0px;
	}
}

.swiper-pagination-bullet {
	&:active,
	&:focus {
		outline: none !important;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}
}

.swiper-button-lock {
	display: none !important;
}

.swiper-pagination-lock {
	display: none !important;
}

.swiper-button-disabled {
	opacity: 0.5;
}

//========================================================================================================================================================
.swiper-action {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 30px;

	@media (max-width: 1439.98px) {
		margin-top: 16px;
	}

	@media (max-width: 991.98px) {
		display: none;
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		display: block;
	}

	.swiper-pagination {
		margin-right: 8px;
	}

	.swiper-navigation {
		display: flex;
		align-items: center;

		.swiper-button-prev,
		.swiper-button-next {
			&:not(:last-child) {
				margin-right: 5px;
			}
		}
	}

	// pag (hor, bul)
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		margin-top: 0px;
	}

	.swiper-pagination {
		text-align: center;
	}

	// pag-item
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 6px;
	}

	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background-color: var(--primary-opacity-color);
		position: relative;

		&::after {
			content: "";
			position: absolute;
			width: 8px;
			height: 8px;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			border-radius: 50%;
			background-color: #fff;
			transition: background-color 0.3s ease 0s;
		}
	}

	.swiper-pagination-bullet-active {
		background-color: var(--primary-color);

		&::after {
			background-color: var(--primary-color);
		}
	}
}

// pag (hor, bul)
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 0px;
	left: 0;
	width: auto;
	margin-top: 24px;
	margin-left: -7.5px;

	@media (max-width: 1439.98px) {
		margin-top: 16px;
	}

	@media (max-width: 991.98px) {
		display: none;
	}
}

.swiper-pagination {
	position: relative;
	text-align: left;
	transition: 0.3s opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

// pag-item
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 7.5px;
}

.swiper-pagination-bullet {
	width: 5px;
	height: 5px;
	display: inline-block;
	border-radius: 800px;
	background-color: #b4b7c9;
	opacity: 1;
	transition: all 0.3s ease 0s;
	position: relative;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--primary-color);
		}
	}
}

.swiper-pagination-bullet-active {
	opacity: 1;
	background-color: var(--primary-color);
	width: 24px;
}

// nav
.swiper-button-next,
.swiper-button-prev {
	position: relative;
	top: 0%;
	width: 46px;
	height: 46px;
	margin-top: 0px;
	border-radius: 50%;
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
	background-color: var(--light-color);

	._white-block & {
		background-color: var(--light-color-opacity);
	}

	._blue-block & {
		background-color: #fff;
	}

	svg {
		width: 24px;
		height: 24px;
		position: absolute;
		transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;

		path {
			stroke: var(--primary-color);
			transition: stroke 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;

			._white-block & {
				stroke: #fff;
			}
		}

		&:last-child {
			opacity: 0;
		}
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--primary-color);

			svg {
				path {
					stroke: #fff;
				}
			}
		}
	}
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 0px;
	right: 0px;

	svg {
		&:last-child {
			transform: translateX(100%);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			svg {
				&:first-child {
					transform: translateX(-100%);
					opacity: 0;
				}
				&:last-child {
					transform: translateX(0%);
					opacity: 1;
				}
			}
		}
	}
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 0px;
	left: 0px;

	svg {
		&:last-child {
			transform: translateX(-100%);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			svg {
				&:first-child {
					transform: translateX(100%);
					opacity: 0;
				}
				&:last-child {
					transform: translateX(0%);
					opacity: 1;
				}
			}
		}
	}
}

// // pag (hor, bul)
// .swiper-horizontal > .swiper-pagination-bullets,
// .swiper-pagination-bullets.swiper-pagination-horizontal,
// .swiper-pagination-custom,
// .swiper-pagination-fraction {
// 	bottom: 10px;
// 	left: 0;
// 	width: 100%;
// }

// .swiper-pagination {
// 	position: absolute;
// 	text-align: center;
// 	transition: 0.3s opacity;
// 	transform: translate3d(0, 0, 0);
// 	z-index: 10;
// }

// // pag-item
// .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
// .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
// 	margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
// }

// .swiper-pagination-bullet {
// 	width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
// 	height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
// 	display: inline-block;
// 	border-radius: 50%;
// 	background: var(--swiper-pagination-bullet-inactive-color, #000);
// 	opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
// }

// .swiper-pagination-bullet-active {
// 	opacity: var(--swiper-pagination-bullet-opacity, 1);
// 	background: var(--swiper-pagination-color, var(--swiper-theme-color));
// }

// // nav
// .swiper-button-next,
// .swiper-button-prev {
// 	position: absolute;
// 	top: 50%;
// 	width: calc(var(--swiper-navigation-size) / 44 * 27);
// 	height: var(--swiper-navigation-size);
// 	margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
// 	z-index: 10;
// 	cursor: pointer;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	color: var(--swiper-navigation-color, var(--swiper-theme-color));
// }

// .swiper-button-prev,
// .swiper-rtl .swiper-button-next {
// 	left: 10px;
// 	right: auto;
// }

// .swiper-button-next,
// .swiper-rtl .swiper-button-prev {
// 	right: 10px;
// 	left: auto;
// }
